[2020-04-27 21:01] DiedB commented on #103
Each of those values is retrieved using a separate API call. One is succeeding (probably), the other hits the limit, which explains the difference between the two.

Could you logout of the SolarEdge app for a day and check whether it changes anything?

[2020-04-29 16:53] aswinvdkamp commented on #103
Did it, yesterday there where some data retrieving errors (403 and 500). Today no errors. The refreshment today was sometimes still an our or more for the energy, the energymeter had a shorter refreshment time. The same yesterday.I only use the energy for the flows.Greetings Op 27 apr. 2020 23:01 schreef Diederik Bakker <notifications@github.com>:
Each of those values is retrieved using a separate

[2020-05-04 14:24] Allram commented on #101
Problem solved. Tigo now demands Premium subscription for API access.

[2020-05-04 14:24] #101 closed

[2020-05-05 06:14] pieterzen commented on #18
Hi,
I'm hailing from the Home Assistant community and found this thread.
I have 1 X1 Boost since yesterday (which uses the Solax Cloud) and can use the following API calls:
http://47.254.152.24:6080/proxy/login/login?password=<pw>&userName=<un> -> Returns token
http://47.254.152.24:6080/proxy/inverter/getDailyInfo?inverterSn=<InverterSn>&wifiSn=<WifiSerial/hostname>&tokenId=<Token from login>&toda

[2020-05-06 20:01] DiedB commented on #18
@pieterzen Is that your inverter IP address or an API IP address? Does this work for all Solax inverters?

[2020-05-07 00:51] DiedB commented on #68
https://medium.com/@rukmalf/extracting-data-from-apsystems-inverters-8c2b8e8942b6

Does this work for you?

[2020-05-07 00:52] DiedB commented on #103
How has it been going the past week?

[2020-05-07 17:49] pieterzen commented on #18
That's the IP of the Solax Cloud server; Currently I'm aware of the following callouts:
http://www.solaxcloud.com:6080/proxy/inverter/getSiteTotalPower?tokenId=<TokenId>&today=2020-05-05&siteId=<SiteId>
http://www.solaxcloud.com:6080/proxy/mysite/getInverterInfo?siteId=<SiteId>&tokenId=<TokenId>

Especially the latter is interesting because it contains the running value's.

This should work for al

[2020-05-09 07:45] aswinvdkamp commented on #103
The thirst 4 days there where stil some errors, after that no errors. I also use the solar edge app again en there last 3 days there where nog errors and the refreshment frequenty is around the 30min.Greetings,AswinOp 7 mei 2020 02:52 schreef Diederik Bakker <notifications@github.com>:
How has it been going the past week?

—You are receiving this because you authored the thread.Reply to this email

[2020-05-12 11:26] Michielfs commented on #68
Hi,

Thanks! Looks great. I will try it soon and give a update.

[2020-05-14 05:02] Niekvb-homey opened #104 "Omnik solar"
Hi Diederik,
I have some problems (re)connecting my sunpanels (omnik). Today I received this letter from omnik. I think they've changed some necessary things.

"
Due to some issues of Omnik, the original portal can't be accessed recently, of which you might already notice. Therefore, we have prepared a temporary address to continue our monitoring services.
Please kindly check the website below.
ht

[2020-05-14 13:08] DiedB commented on #104
Omnik's internet connectivity is a hot mess and they have demonstrated it again, unfortunately.

I will check whether I can make the Homey app work with the new URL, otherwise we'll just have to wait for them to fix it.

[2020-05-15 06:50] EricBorland opened #105 "Growatt integration not working"
Hi there,

I just got a Growatt Inverter and successfully setup the WIFI module so I can review all data in server.growatt.com.
I also could successfully login and pair my inverter into Homey. However, the power indicators are always "-" without showing any result.
There is no error, just no metrics shown (see attached picture).

I have tried to do the requests your library does using postman and

[2020-05-15 09:49] DiedB commented on #105
@pro-sumer Could you have a look?

[2020-05-15 14:25] pro-sumer commented on #105
Maybe this weekend.

For me the integration is still working (but I'm using the Homey 5.0 TestFlight beta App, if that matters)

[2020-05-16 11:15] DiedB commented on #103
Still no errors? In that case I will close the issue.

[2020-05-16 11:48] #85 closed

[2020-05-16 11:52] DiedB commented on #105
I don't think the app version matters, in rare cases maybe the Homey software version could make a difference. But I think it is something else at play here.

@EricBorland could you submit an error report through the app settings screen?

[2020-05-16 11:56] DiedB commented on #104
https://gathering.tweakers.net/forum/list_messages/1984936/1

People are reporting that the SolarmanPV portal is working, also with Omnik accounts. Could you give that a try and report back?

[2020-05-16 12:30] Niekvb-homey commented on #104
Thanks for the heads up. I was able to add the solar panels in homey (y) :D thanks for the good work, we're enjoying the app.

[2020-05-16 12:45] DiedB commented on #104
Interesting! Was it as simple as adding your Omnik account in the app under the SolarMAN driver?

[2020-05-16 13:02] Niekvb-homey commented on #104
It was as simple as adding my Omnik account in the app under "Omnik", not SolarMAN. Then my solarpanels popped-up. It seems to update the panels as usual.

[2020-05-16 14:38] DiedB commented on #104
So the integration is working like it normally did?

[2020-05-16 14:38] #104 closed

[2020-05-16 14:40] Niekvb-homey commented on #104
Indeed, I don't know if you changed something or omnik but it's working the the old way.
Sorry reading your text carefully now (was in the car when i first read it and tried it).

[2020-05-16 15:55] aswinvdkamp commented on #103
Only yesterday, today there where no errors.Op 16 mei 2020 13:15 schreef Diederik Bakker <notifications@github.com>:
Still no errors? In that case I will close the issue.

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-05-16 18:52] DiedB commented on #105
![Schermafbeelding 2020-05-16 om 20 52 24](https://user-images.githubusercontent.com/7628001/82127903-25f76100-97b7-11ea-8929-cc7b4e2143c1.png)

@pro-sumer Here is the app output

[2020-05-17 10:51] pro-sumer commented on #105
@EricBorland Can you please post the (redacted) results of the two succeeding calls, so I can have a look whether those are similar to mine?

(make sure you at least redact your account name, password, email, plant ID, and device serial number)

[2020-05-18 07:09] EricBorland commented on #105
I don't know what you mean by two succeeding calls, but the point is that the call
GET `/newInverterAPI.do?op=getInverterData&type=1&date=2020-05-18&id=########`
return always: `{ "msg": "501", "success": "false" }`.

I believe it's because of the type of datalogger or inverter I have...
If it's okay for you, when I have time, I'll try to develop the api.js endpoints for mine... Moreover, I'd like

[2020-05-18 15:11] pro-sumer commented on #105
I meant these two calls:
* POST `https://server.growatt.com/newLoginAPI.do`
* GET `https://server.growatt.com/newPlantAPI.do`

And then finally:
* GET `https://server.growatt.com/newInverterAPI.do`

Can you please check whether the `id` you use is in a `deviceSn` in the `deviceList` returned by the `newPlantAPI` call?

Maybe having a different datalogger/inverter indeed requires different API call

[2020-05-18 15:14] DiedB commented on #104
I think Omnik restored their API connection. Thanks!

[2020-05-18 15:15] DiedB commented on #103
Could you submit an error report (should be possible on the app settings page in the Homey app)? Want to make sure the app is not making too many calls.

[2020-05-18 15:16] DiedB commented on #18
@pieterzen Could you send me your Solax Cloud login credentials (change the password, if you want)? I'll look into implementing it. My e-mail is diederik@outlook.com.

[2020-05-18 15:50] aswinvdkamp commented on #103
A report from the app6ac52b2e-8906-4736-af3f-a53576efe35cGrAswinOp 18 mei 2020 17:15 schreef Diederik Bakker <notifications@github.com>:
Could you submit an error report (should be possible on the app settings page in the Homey app)? Want to make sure the app is not making too many calls.

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or u

[2020-05-18 15:55] DiedB commented on #103
Thanks! The one you submitted looks completely normal. Sometimes, no new data is available upon requesting the API, but that is just a limitiation on the refresh rate of data that is made available through the API.

Can you do this again when you encounter errors?

[2020-05-18 19:01] timengaby commented on #18
Hi Diederik.

As per message and your request:
Model X1 - 2.0-S-D
Can use solax cloud, did not do that yet.  Also some issues to find my serial number..... Also with the idea to use it with homey.

![20200518_113445](https://user-images.githubusercontent.com/65563888/82248822-0ee87880-9949-11ea-9730-4e24a0c518d7.jpg)

[2020-05-22 06:30] quahfamili commented on #78
@DiedB am i right to say that Huawei inverter is supported? my system is going to be installed in Jun. Would want to test it out too

[2020-05-28 10:15] aamirmalek commented on #26
I am working on the project where I want https://www.solarmanpv.com's data into MTSQL using the API calls to the website. Any help?

[2020-05-28 16:01] DiedB commented on #26
What do you mean? You can look at the code and use it under the GPLv3 license.

[2020-05-28 16:05] DiedB commented on #78
I'm a little on the edge on supporting this. The thing is, everyone who wants to use it needs to send an email to Huawei, which severely limits the userbase of the driver. There is no good place to put an explanation on how to connect your Homey to a Huawei inverter, leading to lots of questions and confusion which costs time, in the end.

[2020-05-31 16:35] aswinvdkamp commented on #103
Can you do this again when you encounter errors?Dit it!1267642d-6ad2-4989-a8b5-d7c2eb6f3ffeGreetings,Aswin Op 18 mei 2020 17:56 schreef Diederik Bakker <notifications@github.com>:
Thanks! The one you submitted looks completely normal. Sometimes, no new data is available upon requesting the API, but that is just a limitiation on the refresh rate of data that is made available through the API.
Can y

[2020-05-31 17:52] DiedB commented on #103
Thanks! Seems like the error is on the side of SolarEdge, they probably do not have enough capacity to handle all requests. I thought it would be a rate limit previously, but that is not the case given the error code that is returned. I'm afraid we'll just have to wait until SolarEdge improves their service.

[2020-05-31 17:52] #103 closed

[2020-05-31 19:24] oliviervb commented on #18
@timengaby I think that diderik is asking the login en pw for the cloud login.

[2020-06-08 19:07] legalr commented on #18
@DiedB , any progress so far, and did you recieve a Login and PW for testing?

[2020-06-09 15:34] DiedB commented on #18
Not yet.

[2020-06-19 12:16] FalcoRutten commented on #70
Hi, I also have a piko convertor, and am willing to test/support.

[2020-06-28 14:20] DiedB commented on #105
@EricBorland Do you have an update?

[2020-06-28 14:24] DiedB opened #107 "GoodWe certificate expiry"
Since June 25, GoodWe stopped working because their certificate expired.

I might push an update to the app that disables certificate validation, in case this takes too long. I wonder if their own apps are still working?

[2020-06-28 14:59] DiedB commented on #107
The test version of the app should fix this, please let me know if it works for you.

https://homey.app/nl-nl/app/it.diederik.solar/Zonnepanelen/test/

[2020-06-28 15:11] DiedB commented on #70
@FalcoRutten Please track issue #92

[2020-06-28 19:25] thezahir1 commented on #107
Hi @DiedB yes it's working great again! 👍👍🌞

[2020-06-28 21:37] joostvkempen commented on #107
working again, tnx Diederik

[2020-06-29 08:24] FalcoRutten commented on #92
94.215.98.26
port 80
user pvserver
pw test123

[2020-06-29 21:56] prj32 opened #108 "Feature Request - Fronius Smart Meter integration"
Hi Team

Great work with your Homey integration with Fronius inverter.  Like most Solar investors understanding consumption is almost as equally important as understand production. It is my understanding many Fronius customers also have their companion Smart Meter (Smart Meter 63A-1) to understand a variety of other metrics, most importantly consumption in KWh. These metrics appear to be available

[2020-06-30 11:36] DiedB commented on #107
I have submitted the new version for approval, should be released within a few days.

[2020-06-30 11:40] #107 closed

[2020-06-30 15:49] Frastabyte commented on #105
Good day all,

I have the same issue (Growatt inverter and Homey only showing - symbol instead of values) and noticed that Zonnepanelen is just updated to 4.0.13. Does this also include a fix for this bug?

[2020-06-30 18:53] DiedB commented on #105
No, this has not been addressed yet. We don't really know what would be causing it, but I think it's only a small subset of users having this problem.

[2020-06-30 18:56] DiedB commented on #108
Could you make a screenshot of this page?

http://**[fronius_ip]**/solar_api/v1/GetInverterRealtimeData.cgi?Scope=Device&DeviceID=1&DataCollection=CommonInverterData

[2020-06-30 20:32] pro-sumer commented on #105
@Frastabyte Would you be able to help debug this using a REST client?

[2020-06-30 21:55] prj32 commented on #108
As requested

{
   "Body" : {
      "Data" : {
         "DAY_ENERGY" : {
            "Unit" : "Wh",
            "Value" : 185.30000000000001
         },
         "DeviceStatus" : {
            "ErrorCode" : 0,
            "LEDColor" : 2,
            "LEDState" : 0,
            "MgmtTimerRemainingTime" : -1,
            "StateToReset" : false,
            "StatusCode" : 7
         },
         "FAC"

[2020-07-01 15:02] Frastabyte commented on #105
@pro-sumer I am new to Homey and Github sure would be willing to participate.

[2020-07-01 16:13] mikedebock commented on #73
@jeroenvano I created a pull request with SolarEdge temperature measurement.

[2020-07-02 08:56] DiedB commented on #73
@mikedebock Thanks a lot for the addition!

@jeroenvano Please try it at https://homey.app/nl-nl/app/it.diederik.solar/Zonnepanelen/test/

[2020-07-02 09:41] jeroenvano commented on #73
Thanks guys, trying it now.
The app now shows the inverter temperature, nice!
The app does not support to trigger a flow on temperature change.

[2020-07-02 09:47] jeroenvano commented on #73
The 15min. Temp update intervals also work nicely

[2020-07-02 09:48] mikedebock commented on #73
@jeroenvano the trigger for temperature change would be a nice one, then the data is really useful. A good enhancement for the next release ;)

[2020-07-02 09:58] pro-sumer commented on #105
Are you familiar with JavaScript code and can you perform the requests mentioned in this post with a REST client?

https://github.com/DiedB/Homey-SolarPanels/issues/105#issuecomment-630248638

[2020-07-02 10:00] DiedB commented on #73
I have pushed a fix for that (v4.0.15). It now uses the predefined `measure_temperature` capability shipped by Athom with a custom title to make clear that it is the inverter's temperature. Flow should automatically work.

[2020-07-02 10:19] mikedebock commented on #73
The trigger works like a charm!

[2020-07-02 10:20] EricBorland commented on #105
Hi there,

Sorry for the late response. I've been really busy lately.
I think the issue is related to the version of Datalogger or inverter, maybe I have a newer or older version and that's why the API works differently.

Here are the result of the calls you requested:

`{
    "back": {
        "data": [
            {
                "plantName": "Home",
                "plantId": "######"

[2020-07-02 13:32] pro-sumer commented on #105
@EricBorland Interestingly you get `"deviceType": "storage"` while I get `"deviceType": "inverter"`.

What kind of changes did you have to make to support a storage device?

(Since I don't have such a device I cannot investigate the API for it and the Growatt API is not published anywhere as far as I know)

[2020-07-02 13:43] pro-sumer commented on #105
@Frastabyte What kind of device do you have? Inverter/Battery/...?

[2020-07-02 15:04] EricBorland commented on #105
I have an [Off-Grid Inverter](https://www.ginverter.com/Off-Grid-Storage-Inverters/44-621.html) and Pylontech Battery connected to it.

I actually had to change it quite a bit since the API (urls, auth, response schemas) are completely different... Maybe we should add another driver for those inverters? Moreover, I needed the info about the battery level, storage charging/production, etc so I can

[2020-07-02 15:31] pro-sumer commented on #105
That indeed seems to be a completely different device compared to my simple inverter.

@DiedB What would be the best way to support multiple different devices from the same brand?

[2020-07-02 15:41] EricBorland commented on #105
We could have two api.js files and use one or another depending on the device type, however, capabilities should be different as well and I'm not sure if it is possible within the same driver

[2020-07-02 18:51] jeroenvano commented on #73
Same here, nice work! Thanks guys!

[2020-07-02 19:37] pro-sumer commented on #105
What API endpoints did you have to use?

Maybe I can try those in a REST client to see whether they support my simple inverter as well.

[2020-07-02 19:39] DiedB commented on #105
If we implement their off-grid branch, we would need a different driver for sure.

[2020-07-02 20:10] Frastabyte commented on #105
@pro-sumer Since about one month I have a Growatt 3000 MTL-S inverter that connects my solar panels. It came with a USB dongle connected to the bottom of the inverter that connects wireless to a ShineLanBox that connects wired to my home internet router. I use one single subnet at home. I have no issues connecting from any device (Android app or Windows via a web browser) or any locations to my Gr

[2020-07-03 13:58] EricBorland commented on #105
I could make PR for that if you'd like to include it. Just I can't promise a deadline though...

[2020-07-03 19:24] pro-sumer commented on #105
@DiedB Can we get logging from @Frastabyte somehow?

[2020-07-03 21:50] Frastabyte commented on #105
Would it help if we do a quick MS Teams meeting somewhere in the next few days? Just let me know if and when would suit you.

[2020-07-04 14:08] pro-sumer commented on #105
Sorry, I'm not comfortable with that.

Let me think whether there's an alternative option to investigate your issue (preferably one where you don't have to share your Growatt credentials).

[2020-07-04 19:03] pro-sumer commented on #105
@Frastabyte Let's first check whether your login works:

1. Please install the [HomeyScript](https://apps.athom.com/app/com.athom.homeyscript) App and calculate the MD5 hash of your password as described in [issue 65](https://github.com/DiedB/Homey-SolarPanels/issues/65).
2. Run this script in the [online editor](https://homeyscript.homey.app) (replace _USERNAME_ and _HASH_ with your real credenti

[2020-07-04 19:42] Frastabyte commented on #105
Good evening Rob,

So what I did:
- Installed the HomeyScript to my Homey and verified it in the apps section,
- MD5-ed the password and replaced the 0's with c's,
- Went to the online editor and created a new script with the contents of the requested in your previous post,
- After made sure "USERNAME" was replaced by "Myrealusername" and the "HASH" by "25d55ad283aa4ccaf464c76d713cc7ad" I ran the

[2020-07-04 21:24] pro-sumer commented on #105
So the login fails.

1. Please temporarily change your password to `hapsnurk` on the Growatt website
2. Run this script again with the hash `64d4832469b0d59d81e73c17e78232b4`
3. Check what the Solar Panels App reports with these credentials

[2020-07-04 21:29] pro-sumer commented on #105
PS:

Note that you should not replace _every_ zero by a 'c':

1. Split the regular MD5 hash up in pairs of 2 characters
2. For each pair _only_ replace the first character by a c if it is a 0
3. Join the pairs again

[2020-07-05 15:12] Frastabyte commented on #105
Sorry, my mistake. I replaced the "first zero's" of every pair and now it succeeds. The return answer is
----------------
Script returned:
 {
  back: {
    data: [ [Object] ],
    service: '1',
    quality: '0',
    isOpenSmartFamily: 0,
    totalData: {},
    success: true,
    user: {
      uid: '',
      userLanguage: 'ho',
      inverterGroup: [],
      timeZone: 1,
      lng: '',
      dataAc

[2020-07-05 15:38] pro-sumer commented on #105
Unfortunately not (yet).

Can you please try again with this `return` statement instead?

[code]

(this should show your `plantId` which we're going to use in the next call)

[2020-07-05 17:45] Frastabyte commented on #105
Yes that works, I see my plant name and plant ID. Would you need the full data?

----------------
Script returned:
 { plantName: 'Familie NAME', plantId: '3095XX' }

[2020-07-06 15:03] pro-sumer commented on #105
Nice, that means that step 1 (of 3), log in, works!

Time for step 2... (getting plant details)

Please try this script now (with instructions as before):

[code]

Please post the result (but redact the serial number, which you will need in step 3)

[2020-07-06 15:22] Frastabyte commented on #105
This is the output I got after adjusting the username and password. It is not a sunny day today over here ;-)

----------------
Script returned:
 {
  plantMoneyText: '2/€',
  optimizerType: 0,
  ammeterType: '0',
  storagePgrid: '0',
  todayEnergy: '10.2',
  storageTodayPpv: '0',
  invTodayPpv: '888.8',
  totalEnergy: '778.7',
  nominalPower: 3000,
  todayDischarge: '0',
  Co2Reduction: '0',
  isH

[2020-07-06 17:08] pro-sumer commented on #105
This is interesting:

[code]

For me it's:

[code]

@EricBorland Which value do you get?

[2020-07-06 18:37] pro-sumer commented on #105
@Frastabyte Let's try the third step anyway, though I expect it to fail in your case.

Please try this script (after filling in the correct values; `SERIALNO` should be the value of `deviceSn` from the previous script):

[code]

[2020-07-06 19:38] Frastabyte commented on #105
Yes, that  is true, it failed with the deviceSn, datalogSn and deviceAilas

----------------
Script returned:
 { msg: '501', success: false }

[2020-07-07 10:10] pro-sumer commented on #105
@Frastabyte Since I don't have such an inverter I'm afraid you will have to take it from here...

Two things you could try:
1. Try different values for the `type` parameter in the `newInverterAPI.do` endpoint call
2. Install a proxy (which captures network requests) to find out which endpoint is used

- On iOS I would recommend [Charles](https://www.charlesproxy.com/documentation/ios/), but I'm no

[2020-07-09 19:24] Frastabyte commented on #105
Hi Rob,

Holiday season is closing in and I have very limited time. I will setup a proxy soon but at this moment I lack time. Will come back soon on this.

[2020-07-10 10:37] KvDaalen opened #110 "Enphase Envoy Local API"
[Enphase Envoy Local API output.txt](https://github.com/DiedB/Homey-SolarPanels/files/4902605/Enphase.Envoy.Local.API.output.txt)

I have an Enphase micro inverter installation and would like to use the Homey SolarPanels App to integrate data that the Envoy Metered produces into my Homey. The Envoy metered is a type of Envoy that next to production also measures data for import/export and consumpt

[2020-07-10 10:41] DiedB commented on #110
Thanks for the detailed information! Will look into implementing this somewhere in the next few weeks.

[2020-07-10 10:42] KvDaalen commented on #110
Great.

[2020-07-12 03:59] quahfamili commented on #78
hope you can get this supported. This is quite a good inverter afterall

[2020-07-12 14:58] Fire69 commented on #78
I'm also still hoping for support, but I get that there is no easy way to do / support / explain it.
Huawei's implementation isn't very user friendly.  There isn't even a way to reset your password.
Think I might mail them to ask if this is going to change in the future.

[2020-07-14 14:51] jeroenvano commented on #73
Had no issues, temp measurements are working incl. triggers so imho this can go to production release.

[2020-07-14 16:45] DiedB commented on #78
The inverter might be good, but the connectivity is far from user friendly at this point. Implementing it would mean lots of support requests and would result in a very small user base.

I think I'll wait until they have their monitoring a bit more accessible. This issue will remain open in the meantime.

[2020-07-14 20:43] Retrospected commented on #110
nice, i was looking into this api last week as well. would be great if this can be implemented.

Not sure which value to take though, I'll run some analysis tomorrow during the day to see if i can figure that out.

[2020-07-16 08:18] Retrospected commented on #110
Ran it for 24 hours and compared the local API value of **.production[0].wNow** with the ones sent via the Envoy API and it seems to be quite spot on in contrast to what @KvDaalen mentioned

![image](https://user-images.githubusercontent.com/5727023/87645254-81a98080-c74d-11ea-90f5-8713fce7261a.png)

[2020-07-16 12:00] KvDaalen commented on #110
I think you misunderstood what I was explaining. Your findings are not in contrast to mine. The .production[0].wNow gives a rolling average (also used within the cloud API). If you however need the actual production at the moment you call the API the .production[1].wNow gives the right value.

Evidence:
1. If you call the API many times, each time the .production[1].wNow value is different. The .p

[2020-07-16 12:47] Retrospected commented on #110
Ah yes I see, I misunderstood you because for me .production[1].wNow does not return a valid value at all:
[code]

I think this has to do with the fact that "metering" was not enabled by the installers. This is also shown on the /home page:

![image](https://user-images.githubusercontent.com/5727023/87669944-24bec200-c76f-11ea-9ed0-68366777de98.png)

I contacted the installing party (CoolBlue) bef

[2020-07-23 17:50] DiedB commented on #110
Thanks for the extended research on the differences between the metered and unmetered setups. I wonder why the unmetered Envoy does not have a higher resolution, it should have more granular production values right? Most inverters report at least every few seconds (on an LCD or something). Maybe I don't understand the Enphase setup quite well.

Could you guys check whether your Envoy responds to m

[2020-07-23 18:04] DiedB commented on #89
I wonder if this is going to be possible. Devices with the `measure_power` capability (all drivers in this app) automatically show up in Homey Energy. I don't see any option in the SDK to override this behavior. This is probably something Athom should implement in their app.

[2020-07-23 18:04] #89 closed

[2020-07-23 18:05] DiedB commented on #79
See #110

[2020-07-23 18:05] #79 closed

[2020-07-24 06:46] Retrospected commented on #110
Sure:

envoy._enphase-envoy._tcp.local.
Enphase Energy Envoy

envoy.local:80
192.168.1.114:80
fd50:d85:9682:1:aae2:c1ff:fe5a:217c:80

protovers = 4.10.35
serialnum = 122015061668
txtvers = 1

[2020-07-24 08:44] DiedB commented on #110
Perfect, that should make pairing a lot more user-friendly ;-)

[2020-07-24 10:04] DiedB commented on #110
@Retrospected could you send your output of `http://envoy.local/production.json?detail=1`, like @KvDaalen did?

[2020-07-24 10:54] DiedB commented on #110
I have built an implementation, could you give it a try? It should work for both situations (metered and unmetered).

You can find it here: https://homey.app/nl-nl/app/it.diederik.solar/Zonnepanelen/test/

Please check if it works and send me a crash report after a few minutes (from the Homey app). Chances are it doesn't, since I have no way to test it myself 😄

[2020-07-24 11:21] Retrospected commented on #110
Thanks! i will test the build

In case you still need my production.json output:

[production.txt](https://github.com/DiedB/Homey-SolarPanels/files/4971682/production.txt)

[2020-07-24 11:24] DiedB commented on #110
Ah, your JSON output is different than I anticipated. If the app works, you will probably get some strange production/consumption values.

I'll implement the `activeCount` check you mentioned. Still, let me know if you are able to pair your inverter and if you see any output.

[2020-07-24 11:25] Retrospected commented on #110
I tried to pair it, but the device can’t be found
I double checked and i still do see the mDNS broadcasting on the same device.

![F03FAD60-47E7-4FA6-BBDC-34CC39BE2430](https://user-images.githubusercontent.com/5727023/88386632-185ee880-cdb1-11ea-9118-23b26b19c374.png)

[2020-07-24 11:53] DiedB commented on #110
Strange, I have no idea why it wouldn't find your Envoy. Sure Homey is on the same network (segment)?

[2020-07-24 18:29] Retrospected commented on #110
Hmm that's strange... i still have the issue. Envoy, Homey and my phone are in the same WiFi network/VLAN and subnet. My phone can see the mdns just fine.

Is there any way i can help out with debugging? If you can add some console.log's and push it to a remote branch i can give you the output by running the version manually myself.

[2020-07-25 14:25] DiedB commented on #110
Do you have experience with running Homey apps? You can try to change the mDNS query in `.homeycompose/discovery/enphase-envoy.json`. Maybe try changing the name to `enphase-envoy`?

[2020-07-25 15:18] Retrospected commented on #110
Yes i know how to run local apps based on the source code repo. But i cant seem to find the branch you pushed it to :o did you push it to github? If so can you link it 🙈?

[2020-07-25 15:23] DiedB commented on #110
Forgot to push, see b43fc9f.

[2020-07-26 12:08] KvDaalen commented on #110
Hi Tried to install the new test version. That seems to have succeeded as it now mentions that the zonnepanelen app is of version 4.1.

Then tried to add a new device (enphase Envoy) But it does not find any.

[2020-07-26 13:04] geurti64 commented on #110
Here it also doesn't find anything when I try to install Enphase Envoy.
Should I give permission somewhere in my Envoy to work with a third party?

[2020-07-26 20:32] DiedB commented on #110
It's an issue with the (beta) app, not your Envoy. @Retrospected have you found the correct mDNS name?

[2020-07-26 20:57] Retrospected commented on #110
I have just ran it, strangely enough when running it with "homey app run", discovery works just fine.. 👍
However now i end up with " Only HTTP(S) protocols are supported" when looking at the device status.

this is the console output:

[code]

[2020-07-26 21:21] DiedB commented on #110
Interesting! I changed the mDNS name to `enphase-envoy` in the branch I sent you and apparently that is the correct one (it was `envoy` in the app store version).

An updated version has been pushed to the app store (test channel), that should also fix the other bug you encountered and implements the `activeCount` check.

[2020-07-26 21:25] Retrospected commented on #110
Cool thx for picking it up so fast, I'm getting a step further now. Now i get the following error:

Error retrieving data (ReferenceError: currentEnergy is not defined)

[2020-07-26 21:32] DiedB commented on #110
Thanks for the quick feedback! Please try the next build (4.1.2).

[2020-07-26 21:37] Retrospected commented on #110
same thing

[2020-07-26 21:41] DiedB commented on #110
That is strange, could you run the app manually and see if you get more error output?

[2020-07-26 21:46] Retrospected commented on #110
[code]

[2020-07-26 21:52] DiedB commented on #110
Please try 4.1.3 :wink:

[2020-07-26 21:57] geurti64 commented on #110
Is it possible it doesn't work now because of sleep modus of Envoy?
My SMA doesn't do anything after sunset...

[2020-07-26 21:58] Retrospected commented on #110
alright no more errors :) Energy shows 0 Watt now though.. so let's see what it does in the morning

Energymeter for me shows a "-".. i would expect it to show around 14.00kWh that i have according to the cloud version

[2020-07-26 22:00] DiedB commented on #110
@Retrospected that is (still) an issue with unmetered setups and the local version. As you can see in your JSON output, the local version does not contain a `whToday` field. Will probably have to record a value from `whLifetime` at the start of each day and then subtract it from the latest value, but haven't implemented that yet.

[2020-07-26 22:00] DiedB commented on #110
@geurti64 That is possible, but do you get errors with version 4.1.3?

[2020-07-26 22:02] Retrospected commented on #110
ah of course.. makes sense. I have already fixed it the way you describe using the cloud data anyway :)
Thanks for the feature!

Maybe @KvDaalen can test how it works on a metered Envoy.

[2020-07-26 22:04] geurti64 commented on #110
I get device is not available.
Error retrieving data.
TypeError: cannot read property activeCount of undefined.

[2020-07-26 22:06] DiedB commented on #110
@geurti64 Can you try to access http://envoy.local/production.json?details=1

If that works, can you send the output it gives?

[2020-07-26 22:08] geurti64 commented on #110
This is what I got:

{"production":[{"type":"inverters","activeCount":6,"readingTime":0,"wNow":0,"whLifetime":5106119}],"storage":[{"type":"acb","activeCount":0,"readingTime":0,"wNow":0,"whNow":0,"state":"idle"}]}

[2020-07-26 22:25] DiedB commented on #110
I made a new build that should work with all the three JSON outputs in this thread, see 4.1.5. I wonder what other variations we are going to encounter :wink:

@Retrospected The energy value might work now.

[2020-07-26 22:30] geurti64 commented on #110
I get the same error.
{"production":[{"type":"inverters","activeCount":6,"readingTime":0,"wNow":0,"whLifetime":5106119}],"storage":[{"type":"acb","activeCount":0,"readingTime":0,"wNow":0,"whNow":0,"state":"idle"}]}

[2020-07-26 22:40] geurti64 commented on #110
![2ABA223F-A5F4-43E6-88D6-305F745D38FA](https://user-images.githubusercontent.com/44948016/88491216-c6c98000-cfa1-11ea-82df-98f392acc527.png)

[2020-07-26 22:41] DiedB commented on #110
@geurti64 Sure you are running 4.1.5? Can you remove the app and reinstall? Do you get the exact same error?

[2020-07-26 22:44] geurti64 commented on #110
Oops 😬
![0EF10A72-20F3-4922-81F9-6DB06169FF58](https://user-images.githubusercontent.com/44948016/88491315-5e2ed300-cfa2-11ea-85ad-f24f5dc6fdda.png)

[2020-07-26 22:49] geurti64 commented on #110
I'll try again after sunrise 😉

[2020-07-26 22:51] DiedB commented on #110
That error won't be fixed after sunrise, but it will in 4.1.6 :smile:

[2020-07-26 22:58] geurti64 commented on #110
I know, there was an other message behind it...
Give me a second, then I try once again before sleeping.

[2020-07-26 22:59] geurti64 commented on #110
Seems like it's good now. You're a master!
![C7F3A2B5-738C-46B0-B146-C811734B533D](https://user-images.githubusercontent.com/44948016/88491634-7273cf80-cfa4-11ea-9892-2049237f25a4.png)

[2020-07-26 23:00] geurti64 commented on #110
Good night.

[2020-07-27 07:14] geurti64 commented on #110
Seems like the "energiemeter" is not working correctly as the meter in my other tile says 0.18 kWh.

{"production":[{"type":"inverters","activeCount":6,"readingTime":1595833466,"wNow":134,"whLifetime":5106337}],"storage":[{"type":"acb","activeCount":0,"readingTime":0,"wNow":0,"whNow":0,"state":"idle"}]}

![9A11DA7D-7A39-4AE3-91C2-428E3031D991](https://user-images.githubusercontent.com/44948016/885

[2020-07-27 07:23] geurti64 commented on #110
An other question.
Is it also possible to make an option that we choose one panel?
My solar panel set is East/West. I would like to know the Energie on East side to control my sunscreens.
Maybe just make a new topic for this question?

[2020-07-27 07:29] Retrospected commented on #110
Hmm on 4.1.7 it doesn’t seem to be working on my unmetered envoy anymore

![9D07E351-FE9B-4DF5-9810-1616B59BD7A6](https://user-images.githubusercontent.com/5727023/88515133-81ca3b80-cfeb-11ea-8ea2-b729f1c3b8bb.png)

[2020-07-27 07:30] Retrospected commented on #110
Nevermind, re-adding the device fixed it

[2020-07-27 07:31] DiedB commented on #110
@geurti64 @Retrospected I pushed a new version (4.1.8) that might fix the energy meter staying at zero. If it doesn't work, please remove the inverter and reinstall the app.

@geurti64 That's not possible from the data we have, but maybe on a different endpoint than the `production.json` one? You will have to do some research.

[2020-07-27 08:25] geurti64 commented on #110
The result is the same.
To be honest, i removed the inverter and installed the last version over 4.1.7 Is it really necessary to remove app 4.1.7 first?

[2020-07-27 08:36] geurti64 commented on #110
All research I already did is asking around and found this.
Maybe someone else can do something with this information.

https://m.facebook.com/story/graphql_permalink/?graphql_id=UzpfSTc0MjIwODQ4MTpWSzoxOTEzMTY0NDEyMTUwMDI3

The link is from the Enphase users + owners group.

[2020-07-27 08:48] DiedB commented on #110
@geurti64 Can you check whether http://envoy.local/api/v1/production/inverters gives any output?

[2020-07-27 08:59] geurti64 commented on #110
I've to find out how to login. The user name and password is different from what I'm used to.

[2020-07-27 09:07] Retrospected commented on #110
Read here:https://thecomputerperson.wordpress.com/2016/08/28/reverse-engineering-the-enphase-installer-toolkit/

Install the apk that is listed (on your own risk ;-)). It will retrieve the “installer” credentials to access that api. Worked fine for me

JSON:

‘’’[
  {
    "serialNumber": "122018001310",
    "lastReportDate": 1595840610,
    "devType": 1,
    "lastReportWatts": 80,
    "maxReportWa

[2020-07-27 09:12] DiedB commented on #110
The round is not necessary indeed, I pushed a new build to fix that.

[2020-07-27 09:29] geurti64 commented on #110
I got stuck on "911 is an inside job" 🙈
The app is Android only right?

@DiedB
It's because of this shitty summer that it didn't work.
Normally at this time it should be far above one.
Good job again, it works now.
![AD83C353-3940-49D4-BA5E-286E1B58EF77](https://user-images.githubusercontent.com/44948016/88526558-5f8ce980-cffc-11ea-8418-3bdcaad6f590.png)

[2020-07-27 09:38] geurti64 commented on #110
@DiedB Diederik, waar kan ik een paar biertjes voor je achterlaten?

[2020-07-27 09:43] geurti64 commented on #110
Oh guys, I read on the Enphase app that they will do some maintaining July 28.
I hope it still works after tomorrow 😅

[2020-07-27 09:44] DiedB commented on #110
Nice, great to see it is working! @KvDaalen I'm curious whether it also works for your metered setup. @geurti64 There is a (subtle) donation link on the Athom App Store page :wink: Don't worry about the Enphase app, it uses a different API from the one we are using here. From the website @Retrospected linked, it seems that the local API has stayed the same for at least 4 years.

[2020-07-27 09:54] geurti64 commented on #110
Done 🍻

[2020-07-27 16:24] DiedB commented on #108
Can you also get `http://[fronius_ip]/solar_api/v1/GetMeterRealtimeData.cgi?Scope=System` and post the result here?

[2020-07-28 06:49] KvDaalen commented on #110
It works perfectly fine. Really happy with this. It also updates quite frequently (every 5 seconds i guess). Thanks a lot. You get some coffee .

Are you still on planning to do some functional enhancements to expose some additional info like:

- Expose detailed data about consumption and **import/export.**
- include Envoy Battery state (not installed in my system)
- Give more detail on this data

[2020-07-28 09:03] DiedB commented on #110
Will look into that

Someone with a battery would have to show up here, might be implemented later

You mean the individual phases?

[2020-07-29 13:18] TomCat1971 opened #112 "GoodWe Solar via Zonnepanelen app Homey - Login fails"
Hi ,

I try to connect my Goodwe converter GW-2000 XS via zonnepanelen app on my Homey.
Installing is working but when I want to login with the right Creditials it doesnt work .  Error :Wrong credtials
I am pretty sure the creditials are oke.

Something wrong with zonnepanelen app? Can someone help me
Version V4.0.13 Diederik Bakker

Grz Tom

[2020-07-29 14:43] DiedB commented on #112
Are you able to login at [GoodWe SEMS](https://www.semsportal.com/home/login)?

[2020-07-29 14:49] TomCat1971 commented on #112
Yep but thats via the cloud, do I need this creditials to login to the app?

[2020-07-29 14:50] DiedB commented on #112
Yes, what other credentials do you have?

[2020-07-29 14:59] KvDaalen commented on #110
Agreed that a 5 second interval is fine.

One could also simply do the calculation themselves but as this data is available within the API my preference would be to simply expose this.

Makes sence. Sorry I have no plans for this.

Yes. Do not know if this is of much use. Maybee do some investigation first if there are usecases that can benefit from this.

some other remarks:

In the energy tab th

[2020-07-29 15:07] TomCat1971 commented on #112
Credentials from the webinterface of the converter.
I thought that it was directly connected to inverter. Put its getting data from sems portal. Thank you for your answer

[2020-07-29 15:07] #112 closed

[2020-07-31 07:53] mveck opened #113 "Homey Apps SDK v3 support"
Since introduction of Homey firmware 5.0 Beta no contacts with Solaredge.
Please check (during pairing "no keypair found").

[2020-07-31 10:25] DiedB commented on #113
When do you get the error, after entering your API credentials? Do you have a screenshot?

[2020-07-31 14:53] locksen-nl commented on #18
Hey @DiedB  I hope you can get it to work can’t wait 😄

Any news ?

[2020-08-01 07:13] mveck commented on #113
Hi Diederik, I did firstly get the problem when upgrading to 5.0 release candidates... the existing device (Solaredge) wasn't available anymore.

Then I decided to re-pair my device (and checking if that would help). During pairing of the device I do get the following message (see screenshot), ID and key are blurred to avoid problems.
![Screenshot_20200731-175103](https://user-images.githubusercon

[2020-08-01 07:16] mveck commented on #113
After that I tried to pair to PVoutput (which is also reading my Solaredge, as a backup), and this one gives similar results... It looks like an equal problem as happened when Homey 2.0 was introduced... Formally only Zibee would be touched, but in reality also SDK 1.0 code is obsoleted.

[2020-08-01 12:33] DiedB commented on #113
Interesting, sounds familiar indeed...

I'm too dependent on some Zigbee apps to try the new firmware out myself, currently. I have a few more changes to make to the app in its current state. I will release that as the latest version for SDK v2, and then look at rewriting against SDK v3. The transition will take some time but will be made eventually.

[2020-08-01 12:56] mveck commented on #113
Hi Diederik, Don't worry, we are all in it (just finalized some work on Bitron Video) ;-)

[2020-08-03 08:48] nickmvanslooten opened #114 "API delay"
Hi Diederik,

First of all: I like your app. Keep up the good work. 👍

One thing I've noticed with my SolarEdge connection, is that the data has a pretty large delay. While watching the data in the SolarEdge app itself, there's sometimes a delay of 10 minutes. But when I look at the data in Homey on that moment, it's even older.

I use this data to open / close my sunscreens. So when it's getting

[2020-08-03 15:24] DiedB commented on #114
Could you try the beta version? Some things were changed in the timings and it might help.

https://homey.app/nl-nl/app/it.diederik.solar/Zonnepanelen/test/

Although I'm afraid that the SolarEdge API is not going to give you the resolution you will need for your sunscreens. 10 minutes is still too much of a delay. Maybe use a different power metering solution at your panel, like the Qubino DIN po

[2020-08-04 06:52] nickmvanslooten commented on #114
Thanks for your fast response. I have installed the beta and will share my experiences.

A 10-minute-delay might still be too large for this flow, If that's the case, I might just go for a weather station or something, but I'll keep the DIN-modules in mind. 😊

[2020-08-04 06:58] nickmvanslooten commented on #114
The good thing: the delay is gone.
The bad thing: it only shows a 500 error.

I've created a report, which has this code:
fd3b9d4e-997c-4942-9e49-8eb51b25ef2a

[2020-08-11 06:14] gertsve9 commented on #78
I also have got an Huawei solar inverter. I look forward to this issue.

[2020-08-12 11:58] thijsvgils commented on #18
@DiedB I'm really looking forward to this too. Can I help in any way? For example sharing login and pw from Solax Cloud?

[2020-08-12 13:32] DiedB commented on #18
I see there's a lot of interest and I'll see if we can support this for Homey. This thread is quite old already, and no progress has been made for two reasons:

- Confusion about which inverters would be supported
- No known public API available for Solax Cloud

I found [this](https://forum.pvoutput.org/t/solax-cloud-api/3441) thread about a public API. If that works reliably, we can add support f

[2020-08-12 13:38] DiedB commented on #114
It seems to work for a while, and then starts giving 500 errors. Does it recover at a later stage?

[2020-08-12 13:47] thijsvgils commented on #18
@DiedB email sent! Hope it works:) Here you can find the Solax Cloud API documentation:
[Solax_API_for_End-user_V1.0.pdf](https://github.com/DiedB/Homey-SolarPanels/files/5063105/Solax_API_for_End-user_V1.0.pdf)

[2020-08-21 08:10] nickmvanslooten commented on #114
Just re-installed the test version, because I didn't want my solar-related-flows to stop working while having a tropical heat outside.
First impression: it seems to work, I'll keep you posted. 🙂

[2020-08-21 21:16] danielschenk opened #115 "Proper Enphase API authorization"
Currently every Envoy owner which wants to use this app needs to register for an API key themselves.

If instead of every user this app could be registered with Envoy and get its own app ID, the app could have a proper authorization scenario, where an in-app web browser would popup, requiring the user to log in with their own Enphase account (no dev account needed for the user!) and would be able

[2020-08-24 08:11] thijsvgils commented on #18
Any luck yet @DiedB ?

[2020-08-24 08:52] DiedB commented on #114
I don't think it's going to get any better. SolarEdge also disabled direct access to inverters in a new firmware, making a local connection impossible for most inverters.

[2020-08-24 08:52] #114 closed

[2020-08-24 16:43] locksen-nl commented on #18
Can't wait to get it connected to homey

[2020-08-25 14:34] DiedB commented on #18
Will look into it somewhere in the next few days!

[2020-08-26 13:49] derhelle commented on #92
Hi DiedB,

i also would appreciate an Kostal Integration. I could send you the requested Data or give you access to my Inverter.
A Tesla PowerWall 2 integration would be also very cool ;-)

regards Helle

[2020-08-27 10:22] #115 closed

[2020-08-27 10:23] DiedB commented on #18
Could you try the test version at https://homey.app/a/it.diederik.solar/test/?

The stability of the Solax Cloud API is not great, but it will probably work while sometimes giving an error because of timeouts or connections being refused. As long as it doesn't happen during pairing, you probably won't notice too often.

[2020-08-27 10:32] DiedB commented on #92
@derhelle Could you contact me at diederik@outlook.com? Would like to look into both of them, but port forwards of others here are not working (anymore).

[2020-08-27 11:33] locksen-nl commented on #18
The solax cloud is undergoing some server issues atm there upgrading the servers so that could be the stability of the api.

I will test it thnx

[2020-08-27 16:42] oliviervb commented on #18
Tested and works perfectly,  thx for the support!
I have also some batteries connected to the solax.
Could you please also at the battery status (percentage)

[2020-08-27 18:13] DiedB commented on #92
Almost done, it just needs some error handling and a token refresh mechanism. Implementing the authentication is hell, the other parts are smooth sailing. I like the update speed of these inverters, a 5-second resolution is possible! Will upload a test version later tonight or tomorrow.

![IMG_7333](https://user-images.githubusercontent.com/7628001/91479323-8bbcb400-e8a1-11ea-8e2d-8599eae6fe8e.PNG

[2020-08-27 18:21] carstenkruseh commented on #92
Sounds super great!
Will it be possible to see battery %, house consumption too?

91.144.213.80
Cahan277

Hent Outlook til iOS<https://aka.ms/o0ukef>
________________________________
Fra: Diederik Bakker <notifications@github.com>
Sendt: Thursday, August 27, 2020 8:13:20 PM
Til: DiedB/Homey-SolarPanels <Homey-SolarPanels@noreply.github.com>
Cc: carstenkruseh <carstenkh@gmail.com>; Author <author@n

[2020-08-27 19:32] derhelle commented on #92
Awesome!! Thank you!

[2020-08-28 06:17] thijsvgils commented on #18
@DiedB Works like a charm, well done and thank you!

[2020-08-28 07:27] locksen-nl commented on #18
@DiedB  thanks for all your work
It works like charm

[2020-08-28 11:12] DiedB commented on #92
@carstenkruseh Could you reset the inverter password? I locked the account while testing the login error handling ;-)

[2020-08-28 11:45] carstenkruseh commented on #92
Done - Password Now Cahan2777 :)

Hent Outlook til iOS<https://aka.ms/o0ukef>
________________________________
Fra: Diederik Bakker <notifications@github.com>
Sendt: Friday, August 28, 2020 1:12:57 PM
Til: DiedB/Homey-SolarPanels <Homey-SolarPanels@noreply.github.com>
Cc: carstenkruseh <carstenkh@gmail.com>; Mention <mention@noreply.github.com>
Emne: Re: [DiedB/Homey-SolarPanels] Kostal support (#

[2020-08-28 12:32] DiedB commented on #92
Great, thanks for your collaboration guys!

You can test Kostal integration at:
https://homey.app/a/it.diederik.solar/test/

I would like to implement full support for your system @carstenkruseh, but it is a little too complicated for this app currently. For all brands it supports, it only shows PV production statistics. It would need some more custom capabilities and such, and I think it is bette

[2020-08-28 13:04] FalcoRutten commented on #92
Hi,
I tested the kostal version, but get timeout-error.
Falco

[2020-08-28 13:09] DiedB commented on #92
@FalcoRutten What are you entering exactly, can you send screenshots of your inverter interface?

[2020-08-28 13:14] FalcoRutten commented on #92
See attachments

Verzonden vanaf mijn Samsung Galaxy-smartphone.

-------- Oorspronkelijk bericht --------
Van: Diederik Bakker <notifications@github.com>
Datum: 28-08-2020 15:10 (GMT+01:00)
Aan: DiedB/Homey-SolarPanels <Homey-SolarPanels@noreply.github.com>
Cc: FalcoRutten <falcorutten@hotmail.com>, Mention <mention@noreply.github.com>
Onderwerp: Re: [DiedB/Homey-SolarPanels] Kostal support (#92)

[2020-08-28 13:15] DiedB commented on #92
@FalcoRutten You'll have to do that directly on GitHub, it doesn't allow email attachments to come through.

[2020-08-28 13:16] FalcoRutten commented on #92
![Screenshot_20200828-151327_Samsung Internet](https://user-images.githubusercontent.com/67102307/91564791-7303db00-e941-11ea-8f48-99a101c8191e.jpg)
![Screenshot_20200828-151300_Homey](https://user-images.githubusercontent.com/67102307/91564818-7e570680-e941-11ea-85c0-4a1e058a0470.jpg)

[2020-08-28 13:20] DiedB commented on #92
Ah, you have a different inverter from @carstenkruseh and @derhelle (they have a Plenticore), and the app is not going to work with yours (for now). I'll need to clarify that in the app. Kostal does not really provide documentation on their inverters and connectivity, so it is hard to determine which inverters are supported.

[2020-08-28 13:24] FalcoRutten commented on #92
Would be great if you could also add my system!!
Thanks
Falco

[2020-08-28 13:52] derhelle commented on #92
Hi, I just tried but I get an error: Could not find that PairSession.

regards Helle

[2020-08-29 07:32] locksen-nl commented on #18
It stopped working here what about u @thijsvgils @oliviervb

[2020-08-29 08:12] oliviervb commented on #18
It stopped here also

[2020-08-29 08:16] locksen-nl commented on #18
Damn i hope it's a server thingy seems the API is having some troubles.
Just finished my flows 😧

[2020-08-29 14:41] DiedB commented on #18
Hmm, their API seems to be having some issues indeed. Hope it is part of maintenance and does not persist. Please keep me posted!

[2020-08-29 14:48] oliviervb opened #116 "Solax battery support"
in order to automate some energy saving flows. We need battery status, consumed energy, generated energy, feed in energy/grid energy
![20200828_121412](https://user-images.githubusercontent.com/32374181/91639471-212d8480-ea17-11ea-9d7d-846b292b9f90.jpg)

Regular things that are available via the std  api's and are used in the solax app.
[Solax_API_for_End-user_V1.0.pdf](https://github.com/DiedB/Ho

[2020-08-29 15:16] DiedB commented on #110
@KvDaalen I will consider implementing that. I will wait for Athom to roll out v5 first, and then release a new Enphase-only app. This app would become too complicated with all sorts of custom capabilities. Give it a few months and it will be done.

As for the Energy tab, I could add two devices, one with the `solarpanel` class which reports production, and one with a `measure_power` capability wi

[2020-08-29 19:31] KvDaalen commented on #110
Great, thanks for all your effort and thinking along. When will you release
this version?

Op za 29 aug. 2020 17:16 schreef Diederik Bakker <notifications@github.com>:

[2020-08-29 22:36] DiedB commented on #110
Soon, will probably do it in two weeks.

[2020-08-30 08:44] geurti64 commented on #110
It would be very nice if adding only one single solar panel also is an option. I have one set on my shed and one set on my house, East and West. And only one Envoy...

[2020-08-30 09:23] DiedB commented on #110
@geurti64 Does the Envoy measure those sets independently? What does your `production.json` look like?

[2020-08-30 10:26] geurti64 commented on #110
@DiedB It's just what shows here in this message. All the details from every single panel.
Btw, I'm just a noob with ideas and I've no experience with any kind of programming. Sorry if I misunderstand the possibilities.

[2020-08-30 10:29] DiedB commented on #110
Are those credentials the same for every system? And those entries in the JSON you posted are individual microinverters I suppose? The JSON you posted does not make a distinction between different strings of panels. We could make a device for every microinverter in Homey but I think that would be too much for most users.

[2020-08-30 10:32] KvDaalen commented on #110
Why would you want to automate anything based on details of a single panel?
Which use-case do you forsee with that detailed data?

Op zo 30 aug. 2020 12:26 schreef geurti64 <notifications@github.com>:

[2020-08-30 11:14] geurti64 commented on #110
I would like to see the difference between East and West on one single Envoy.
Plus, the web API from Enphase is much slower then this API.
@DiedB yes, those are the entries from individual micro inverters.
Most users don't have to use that option 😉

[2020-08-30 16:22] carstenkruseh commented on #92
It’s meassuring Home consumption, not pv production :)
Maybe you need to only add DC string 1 and 2.
String 3 is battery.

Hent Outlook til iOS<https://aka.ms/o0ukef>
________________________________
Fra: derhelle <notifications@github.com>
Sendt: Friday, August 28, 2020 3:53:05 PM
Til: DiedB/Homey-SolarPanels <Homey-SolarPanels@noreply.github.com>
Cc: carstenkruseh <carstenkh@gmail.com>; Mention

[2020-08-30 19:18] DiedB commented on #92
@carstenkruseh Are you sure? I believe it is consistent with the inverter output, e.g. the value that you see on the top left when you login to your inverter. It might look like home consumption because the home often runs on battery power (which goes through the inverter).

[2020-08-30 20:02] carstenkruseh commented on #92
Hi!

Yes, I’m sure.
But you might be right.

I just tested this afternoon.
The consumption was bigger than the pv output.
So the rest of the power was drawn from the battery.

Pv output + battery output = consumption.
So you are probably right.

Then I’ll have to wait for your Kostal app :)

Med venlig hilsen
Carsten Kruse
Kristrupvej 33
8960 Randers SØ

T:	31 61 31 21	E:	carstenkh@gmail.com <mail

[2020-08-30 20:07] carstenkruseh opened #117 "Kostal App"
Hi!

I'd like an app for Kostal, where you can see all data.

-pv generation
- Inverter output
- Home consumption
- Grid consumption / feed-in
- Battery %

[2020-08-31 06:46] locksen-nl commented on #18
I asked solax about it

Dear customer,
Our api is currently being upgraded, and it is estimated that it can be used normally in a few hours.

[2020-08-31 14:41] locksen-nl commented on #18
API is up and running again

[2020-09-05 17:26] Raycokes2000 opened #118 "App is paused and I have error"
Hello,

App is paused with no and I have error.
Do I need need new key?
![Screenshot_20200905_192215_app homey](https://user-images.githubusercontent.com/51300944/92310331-936d0e80-efad-11ea-8b9a-ec31bb055143.jpg)

[2020-09-07 11:25] BertWi opened #119 "Error for Trannergy"
Hi,

I'm getting this error while setting it up:

"You've been logged out or you have no authorization to use the service".

What does this mean?
And how can it be solved?

Best regards
Bert from NL

[2020-09-08 17:39] Didiervu91 commented on #105
I’m having the same problem with a new Growatt installation, the TL-XE. No data is being shown in the Homey app. Is there anything I can do to help? Is there a fix yet?

[2020-09-08 22:36] DiedB commented on #118
SolarEdge tends to have some issues with their API from time to time. Did it resolve itself?

[2020-09-08 22:42] DiedB commented on #119
Sounds like some issue with credentials. Are you sure you have the right credentials, do they work at https://log.trannergy.com/LoginPage.aspx?

[2020-09-09 15:25] BertWi commented on #119
Hi,
for my energie readings I need to login here:

http://log1.trannergy.com/login.html

So that seems to be a different login location.

[2020-09-09 20:03] pro-sumer commented on #105
Had a second look at the API using @Didiervu91's [post](https://community.athom.com/t/growatt-tl-xe/34484) on the Homey Community Forum.

My Growatt plug-in is using:
* https://server.growatt.com/newLoginAPI.do (to log in)
* https://server.growatt.com/newPlantAPI.do (to find inverters)
* https://server.growatt.com/newInverterAPI.do (to get production data from an inverter)

The Growatt ShinePhone

[2020-09-09 21:37] Didiervu91 commented on #105
When I get direct info from the inverter through ShinePhone it goes to
`http://server-api.growatt.com/newTlxApi.do?op=getTlxParams&id=INVERTER-ID`

The response from
`http://server-api.growatt.com/newPlantAPI.do?action=getUserCenterEnertyDataTwo`

Is
`{
  "plantNumber": 1,
  "todayProfitStr": "€2.4",
  "isHaveFormulaMoney": true,
  "nominalPowerStr": "2.8kWp",
  "eventMessBeanList": [],
  "todayVa

[2020-09-09 21:40] Didiervu91 commented on #105
Sorry, forgot the response from newTlxApi:

`
{
  "newBean": {
    "trakerModel": 0,
    "optimezerList": [],
    "wselectBaudrate": 0,
    "fwVersion": "AL1.0",
    "restartTime": 60,
    "batTempLowerLimitD": 0,
    "batTempLowerLimitC": 0,
    "location": "",
    "treeID": "ST_#INVERTER-ID",
    "addr": 81,
    "bmsCommunicationType": 0,
    "priorityChoose": 0,
    "startTime": 60,
    "baging

[2020-09-10 11:38] pro-sumer commented on #105
It looks like both this API and the newer "Two" API now provide the required data "_eToday_" and "_power_" in the `newPlantAPI.do` endpoint. So maybe the plug-in can use this instead of the third endpoint to get production data. It should support both my "inverter" and your "tlx" inverter then, I think.

I'm planning to experiment with this at a future time, but don't know when.

[2020-09-12 14:26] Didiervu91 commented on #105
Okay I tested it out and I've changed the url from getInverterProductionData to
``${plantURL}?action=getUserCenterEnertyDataTwo`` and data to `{ currentPower: Number(response.body.powerValue), energyToday: Number(response.body.todayValue) }` and it worked immediately. Perhaps you can test these changes for your inverter to see if it works?

[2020-09-12 14:26] Didiervu91 commented on #105
Okay I tested it out and I've changed the url from getInverterProductionData to
``${plantURL}?action=getUserCenterEnertyDataTwo`` and data to `{ currentPower: Number(response.body.powerValue), energyToday: Number(response.body.todayValue) }` and it worked immediately. Perhaps you can test these changes for your inverter to see if it works?

[2020-09-12 14:27] Didiervu91 commented on #105
Okay I tested it out and I've changed the url from getInverterProductionData to
`${plantURL}?action=getUserCenterEnertyDataTwo` and data to `{ currentPower: Number(response.body.powerValue), energyToday: Number(response.body.todayValue) }` and it worked immediately. Perhaps you can test these changes for your inverter to see if it works?

[2020-09-12 14:27] Didiervu91 commented on #105
Okay I tested it out and I've changed the url from getInverterProductionData to
`${plantURL}?action=getUserCenterEnertyDataTwo` and data to `{ currentPower: Number(response.body.powerValue), energyToday: Number(response.body.todayValue) }` and it worked immediately. Perhaps you can test these changes for your inverter to see if it works?

[2020-09-12 14:27] Didiervu91 commented on #105
Okay I tested it out and I've changed the url from getInverterProductionData to
`${plantURL}?action=getUserCenterEnertyDataTwo` and data to `{ currentPower: Number(response.body.powerValue), energyToday: Number(response.body.todayValue) }` and it worked immediately. Perhaps you can test these changes for your inverter to see if it works?

[2020-09-12 14:27] Didiervu91 commented on #105
Okay I tested it out and I've changed the url from getInverterProductionData to
`${plantURL}?action=getUserCenterEnertyDataTwo` and data to `{ currentPower: Number(response.body.powerValue), energyToday: Number(response.body.todayValue) }` and it worked immediately. Perhaps you can test these changes for your inverter to see if it works?

[2020-09-12 14:27] Didiervu91 commented on #105
aaa

[2020-09-13 09:34] mveck commented on #113
Hi Diederik,
Quite late but please check this diagnostic report:
535e4579-b8f5-4c33-b93a-b0a4db46e2cd

Made in combination with 5.0.0. rc 31

Cheers, Menno

[2020-09-13 12:45] DiedB commented on #113
Thanks, unfortunately the error report does not contain any further information (just a log message that the app has started). Can you describe what's happening for you?

[2020-09-13 13:10] mveck commented on #113
Hi Diederik,
That's a pitty, the log is belonging to the screenshot in my earlier
message. You requested a log actually months ago, and announced that you
will need some more time before solving the problem for the 5.0.0
firmware...

Op zo 13 sep. 2020 14:45 schreef Diederik Bakker <notifications@github.com>:

[2020-09-13 14:13] pro-sumer commented on #105
I think by using that call you will get the total values for your "plant" (home) if you have more than 1 inverter.

While that will be fine for most users, I'm currently experimenting with using `newPlantAPI.do` filtered for a specific inverter.

[2020-09-13 17:33] pro-sumer commented on #105
@Didiervu91 Can you please try this updated [API](https://github.com/pro-sumer/Homey-SolarPanels/blob/master/drivers/growatt/api.js) implementation and let me know whether it works for your "tlx" inverter?

[2020-09-16 12:30] Lansuper opened #121 "Readings in Homey energy not updated and incorrect"
At a sample time, the Solaredge app gives me a current production of 3.5 kW. The Homey app gives 2.88. In the energy screen it’s even stranger. Selecting the solar panels there gives 2.88 above the pictogram and 3.7 as current output in the graph.
Concluding from using about 1 kW on airco, computer eg. and the meter tells me 2.73 kW going back to the grid, the 3.7 output on the panels is sensible.

[2020-09-16 13:16] DiedB commented on #121
Do you have a battery? Could the readings of the app lag behind the (live) readings of your smart meter (I believe SolarEdge has a 10-15 minute delay)?

[2020-09-18 08:46] DiedB commented on #110
The newest version with Envoy support has been released. @KvDaalen your suggestions are good, but I will make them into a separate Enphase app in a few months (including SDKv3 support). The Solar Panels app is becoming too cluttered with custom flows and capabilities. Could you make an issue here about that?

[2020-09-18 08:46] #110 closed

[2020-09-18 08:47] DiedB commented on #92
The newest version including Kostal Plenticore has been released.

[2020-09-18 08:47] #92 closed

[2020-09-18 08:47] DiedB commented on #73
Has been released to production!

[2020-09-18 08:48] DiedB commented on #18
Solax support has been released into the latest production version.

[2020-09-18 08:48] #18 closed

[2020-09-18 12:36] FalcoRutten commented on #92
Hi, Still not working with my Piko Kostal!

[2020-09-18 13:12] KvDaalen commented on #110
No problem.

[2020-09-19 13:47] pro-sumer commented on #105
@Didiervu91 When do you have time to check this?

[2020-09-19 14:12] Didiervu91 commented on #105
I’ll try to do it this afternoon!

[2020-09-19 15:26] Lansuper commented on #121
Extensive testing indeed shows a lag in data updating by Solaredge of on average 10 minutes. Besides that, the Homey app on iPad seems to freeze data-updates for no particular reason. Combined with a fast update on the P1 smart meter, the energy screen is only remotely accurate on a very clear day with little output changes from the panels.
Not really anything to do about it I guess, but reduces t

[2020-09-19 15:37] DiedB commented on #121
Yeah, unfortunately most inverters do not provide very detailed data. Enphase, Kostal and Fronius seem to be the exceptions.

I would suggest you to meter your panels directly at your panel. https://www.homewizard.nl/shop/homewizard-wi-fi-kwh-meter is a good product which will provide you with live readings (as long as your inverter is 1-phase).

[2020-09-19 15:40] Didiervu91 commented on #105
@pro-sumer the updated API is working perfect here! Is it possible to add more to this? For example: `todayProfitStr`

[2020-09-19 15:43] #121 closed

[2020-09-19 16:03] DiedB commented on #105
Does the new API work with old inverters as well? Or do we need to create a separate driver for the newer Growatt API?

[2020-09-19 17:59] pro-sumer commented on #105
Yes; I verified with a REST client (Paw) that this new API works for my own ("old") inverter, before I updated the `api.js` file.

I'm not sure about @Frastabyte's more advanced inverter though... That's why there's currently this explicit check in the code:
[code]

Should I submit a Pull Request from my fork to update `api.js` in your repository?

[2020-09-19 18:05] DiedB commented on #105
Sure! We can release it as a test version and let everyone here check whether it still works.

[2020-09-19 18:45] pro-sumer commented on #105
Created PR #122.

[2020-09-19 19:21] DiedB commented on #105
Thanks! Could you all try this build?

https://homey.app/nl-nl/app/it.diederik.solar/Zonnepanelen/test/

[2020-09-19 19:25] #118 closed

[2020-09-25 18:11] pro-sumer commented on #105
Sorry, have been busy and forgot about this...

Does installing a test build wipe all historic data?

(I more than once lost data in the past, but not sure what I did wrong - want to prevent that this time)

[2020-09-30 10:04] DiedB commented on #105
It shouldn't, but I'm not sure how Homey deals with transitions from stable to beta versions. Maybe someone else can confirm?

[2020-10-04 14:44] BertWi commented on #119
Hi Diederik
Any plan on solving this?
No push, just curious.
Thanks!

[2020-10-05 15:45] DiedB commented on #119
Yes, but I would need more technical information about their (new) API. It seems to still work for most users, as I have not yet seen heard of other users with problems. Once more people chime in, we might be able to resolve this, but it depends on support from Trannergy as well.

[2020-10-09 14:50] ThomasHoussin commented on #108
Hi. I have a Fronius SmartMeter, the values are not reported with GetInverterRealtimeData. My results with http://[fronius_ip]//solar_api/v1/GetMeterRealtimeData.cgi?Scope=System below :

{
   "Body" : {
      "Data" : {
         "0" : {
            "Current_AC_Phase_1" : 14.752000000000001,
            "Current_AC_Sum" : 14.752000000000001,
            "Details" : {
               "Manufacturer"

[2020-10-10 11:53] DiedB commented on #108
@prj32 You have both the Smart Meter and a Fronius inverter, I suppose? And @ThomasHoussin only has the Smart Meter?

I think the Smart Meter should be implemented as a separate device in the Homey app (which you can pick during pairing). I am planning to make some individual apps because the Solar Panels app is getting a little complicated and cluttered. Fronius would be on the list for a separat

[2020-10-10 18:59] Bascht74 commented on #108
I'm in, too :-)

Cheers,

Sebastian

[2020-10-11 14:40] ThomasHoussin commented on #108
I have both a SmartMeter and an inverter (request is the same as shown by prj32) - you may need both. After browsing through the API, I think that GetPowerFlowRealtimeData my be useful and easier. The result for request http://[fronius_ip]/solar_api/v1/GetPowerFlowRealtimeData.fcgi :

{
   "Body" : {
      "Data" : {
         "Inverters" : {
            "1" : {
               "DT" : 81,

[2020-10-12 10:35] SolarEdgeUser opened #123 "Zonnepanelen App does not work anymore for me (SolarEdge) in Homey"
Hello,

I have been using an Athom Homey (normal, not Pro) with firmware version 4.1.0 and NodeVersion 8.16.0. I have installed the Zonnepanelen app. I am using a SolarEdge omvormer.

This worked great for about the first 2 weeks. Then it stopped working. The whole Zonnepanelen app crashes, and gives me the notification:  The app ZOnnepanelen is gestopt met werken. De ontwikkelaar is op de hoogte

[2020-10-12 10:41] DiedB commented on #123
This is an issue with the newest update. I used a language feature that is not supported on Node versions that were used before Homey version v4.2.0. I didn't know and therefore didn't set the compatibility settings. This is causing crashes for users that haven't updated their Homey to the latest version.

Can you check which firmware your Homey is using, and update to the latest version (do not i

[2020-10-12 10:46] SolarEdgeUser commented on #123
I am running 4.1.0. I have just now started the update process to update to 4.2.0 Once finished, I will let you know if it has been solved. Will be back in a few minutes....hopefully.

[2020-10-12 11:10] SolarEdgeUser commented on #123
That did the trick. Now that I am on 4.2.0 it is working again. Thanks! :)

[2020-10-12 11:14] #123 closed

[2020-10-12 13:55] DiedB commented on #108
I wonder if `GetPowerFlowRealtimeData` is accessible for users without a smart meter?

[2020-10-12 19:06] ThomasHoussin commented on #108
According to the full documentation, without a smart meter P_Grid and P_Load have a null return value. But you still have P_PV, E_day and E_year.
(without an inverter these one should be null and you have values for P_Grid and P_Load)

[2020-10-24 14:59] Marckoot opened #125 "can't connect Kostal solar systeem in Zonnescherm app Homey"
The problem is to connect a solar inverter version 3.62 to the homey systeem with the zonnescherm app.

The Ip adres is given as a input, the password is the input off the local webserver, Where is it possible to give the name of the server?

[2020-10-25 12:16] DiedB commented on #125
What type of Kostal inverter do you have? Can you make a screenshot of its local web page / login page?

[2020-10-25 18:51] Marckoot commented on #125
Hi Diederik

Thank you for the  answer,

Van: Diederik Bakker <notifications@github.com>
Verzonden: zondag 25 oktober 2020 13:16
Aan: DiedB/Homey-SolarPanels <Homey-SolarPanels@noreply.github.com>
CC: Marckoot <marcenmarjakoot@gmail.com>; Author <author@noreply.github.com>
Onderwerp: Re: [DiedB/Homey-SolarPanels] can't connect Kostal solar systeem in Zonnescherm app Homey (#125)

What type of Kost

[2020-10-25 19:18] DiedB commented on #125
That's not going to work, you'll need to upload the screenshot on GitHub.

[2020-10-29 14:10] GerardLeemkuil opened #126 "SolarEdge error"
After installing the SolarEdge app I see on the information screen error for some items.
We are seeing 5 items
Item 1 ENERGIE value is  293 W is correct
Item 2 STROOMVERBRUIK is  (-) false
Item 3 Energiemeter 3.57 KWh is correct
Item 4 STROOMVERBRUIK VANDAAG is (-) false
Item 5 Temperatuur 37.3 C is correct

[2020-10-29 15:40] DiedB commented on #126
This only works if you have a SolarEdge Energy Meter (https://www.solaredge.com/products/metering-and-sensors/solaredge-modbus-meter). If you only have an inverter, this is expected behavior.

[2020-10-29 15:40] #126 closed

[2020-10-29 16:31] GerardLeemkuil opened #127 "SolarEdge errors"
On this moment I have a SE2200H converter behind the solar panels
On inverter information page I see
Item 1 Energie valid data
Item 2 SROOMVERBRUIK has no data ????
Item 3 ENERGIEMETER has valid data
Item 4 STROOMVERBRUIK VANDAAG no data ???
Item 5 Temperatuur omvormer valid data
Homey = Homey pro software version 4.2

[2020-10-29 16:34] DiedB commented on #127
Please continue in the issue thread you opened before, if you have further questions.

[2020-10-29 16:34] #127 closed

[2020-11-04 14:26] hendriksenremco opened #128 "Solar panel generated power is added up to total usage in energy tab"
The power which is generated by the solar-panels is added up to the total power-usage (see biggest number in the circle).
My total usage is 325w according to p1mon and my solar-panel generates 117w in this screenshot, which makes exactly 442w.
Those numbers shouldn't be added up in my opinion.

![IMG_4177](https://user-images.githubusercontent.com/1267904/98122837-68ba0c00-1eb1-11eb-8e60-bf593f557

[2020-11-04 15:18] DiedB commented on #128
I'm a bit puzzled where the figure comes from. It is in the Homey software so I cannot really influence it.

The Solar Panels app adds devices with the class 'Solar Panel', adding them to the outer ring in Homey Energy. I believe Homey does not make calculations based on that figure, and instead shows consumption separately based on what it knows from other devices (the number you are mentioning).

[2020-11-05 08:32] geurtd opened #129 "Omnik integration broken"
Er is een onbekende fout opgetreden
An unknown error occured followed by chinese characters.

You can only click Ok and this comes back tot the login page

[2020-11-05 13:55] DiedB commented on #129
They took their API down. I have no information (yet) on a new API, does someone want to reverse engineer the app again?

[2020-11-06 14:59] geurtd commented on #129
Thats a Shame,

[2020-11-07 08:24] GerardLeemkuil opened #130 "SolarEdge inverter app device no correct output"
The app of SolairInverter has 5 outputs and 3 outputs are correct working.
The outputs ENERGIE , ENERGIEMETER and TEMPERATURE has correct values.
The outputs STROOMVERBRUIK and STROOMVERBRUIKVANDAAG are both nill (no data)

ON THE HOMEY INSIGHTS screen The INVERTER device has 6 outputs???
Energie, Energiemeter,  Stroomverbruik (no data !!!!),  Stroomverbruik, Stroomverbruik vandaag (no data !!!) a

[2020-11-07 11:36] DiedB commented on #130
Please reply to #126!

[2020-11-07 11:36] #130 closed

[2020-11-07 13:22] GerardLeemkuil opened #131 "SolarEdge solar converter app troubles"
Diederik is it possible to add in the Solarcels app to add the object for the SolarEdge converter.
See also https://www.solaredge.com/sites/default/files/se_monitoring_api.pdf
Converter is a Solar Edge SE 2200H HD-Wave

[2020-11-07 21:39] DiedB commented on #131
What do you mean with 'object'?

[2020-11-08 11:43] GerardLeemkuil commented on #131
Object = device in Homey

[2020-11-08 12:56] DiedB commented on #131
That's exactly what the app already does right?

Voel je vrij om het in het Nederlands uit te leggen, als dat makkelijker is.

[2020-11-08 13:04] GerardLeemkuil commented on #131
Oké zou je de omvormer van solidEdge willen toe voegen aan jouw zonnepanelen app
Is dat mogelijk

[2020-11-08 13:09] DiedB commented on #131
De omvormer van SolarEdge zit in de Zonnepanelen-app, toch? Ik snap niet precies wat je bedoelt.

[2020-11-08 13:18] GerardLeemkuil commented on #131
Daar zit een fout in.
De omvormer  6 outputs zichtbaar in Homey Insights scherm
Energie data deze is ok
Energiemeter data deze is ok
Stroomverbruik (null geen data)
Stroomverbruik wel data deze is ok
Stroomverbruik vandaag geen data
Temperatuur omvormer data deze is ok

[2020-11-08 13:27] GerardLeemkuil commented on #131
Wanneer ik ga naar het device scherm dan zie ik 5 variabelen
Energie is ok
Stroomverbruik (null) geen Gata
Energiemeter is ok
Stroomverbruik vandaag (null) geen data
Temperatuur omvormer is ok
Hopelijk heb je hier iets aan om de fout te vinden.

[2020-11-08 14:32] GerardLeemkuil commented on #131
![IMG_0083](https://user-images.githubusercontent.com/73652288/98467792-8b149800-21d7-11eb-80fe-99ce4d1df759.PNG)
Outputs scherm Inverter

[2020-11-08 14:35] GerardLeemkuil commented on #131
![IMG_0083](https://user-images.githubusercontent.com/73652288/98467864-01b19580-21d8-11eb-8385-f98dccb05c58.PNG)

[2020-11-08 14:38] GerardLeemkuil commented on #131
![IMG_0084](https://user-images.githubusercontent.com/73652288/98467920-56551080-21d8-11eb-84b9-adad236ff662.PNG)

[2020-11-09 14:27] DiedB commented on #131
Het is niet echt een fout, je SolarEdge apparaat geeft die waarden gewoon niet terug.

Kun je https://homey.app/a/it.diederik.solar/test/ installeren? Als je daarna je omvormer verwijdert en opnieuw toevoegt zouden de ongebruikte capabilities moeten zijn verdwenen.

[2020-11-09 14:40] GerardLeemkuil commented on #131
Prima , ik ga het installeren
Bedankt voor je inzet

Gerard Leemkuil
gleemkuil@ziggo.nl
0637276710

[2020-11-09 14:56] #125 closed

[2020-11-09 15:40] GerardLeemkuil commented on #131
Device scherm is nog steeds het zelfde
Op HomeyInsights scherm werken de eerste 3 output en de temperatuur
De tweede Stroomverbruik heeft geen data evenals de Stroomverbruik vandaag heeft geen data

[2020-11-09 16:50] #131 closed

[2020-11-14 09:27] BillyHekken commented on #128
Hi. I have the same issue as @hendriksenremco. In my case also the power which is generated by the solar panels is added up to the total power-usage. Of course I use Zonnepanelen, but the Plugewise app on Homey for the data from the P1 port of my smart meter.

There is one difference in your screenshot to the situaton of hendriksenremco and my Homey energy flow view. In your screenshot (https://us

[2020-11-16 11:28] jeroenduhboer opened #132 "SolarEdge doesn't work"
"Error: Inloggegevens onjuist"

This is the message I receive after entering the correct ID and API.

Please help me

[2020-11-19 19:32] Barblo1986 opened #133 "Enphase"
Dear,

In the Enphase module, the summary of the total energy used today is displayed incorrectly. The comma or unit is wrong. According to the example, 4911.6 kWh has been consumed, while in reality this is 4.9 kWh. This is also the case with the total yield of the day. The screenshot shows that 958.84 kWh has been used while in reality this is only 0.96 kWh. The word "energiemeter" should be bet

[2020-11-19 19:38] DiedB commented on #133
Interesting. What Enphase product are you using? I think it's something other than most users, otherwise this discrepancy would have been noticed before.

I do not have control over the strings 'energie' and 'energiemeter', it is Athom controlling those. I cannot customize them or Homey Energy support would break.

[2020-11-19 19:39] DiedB commented on #132
This happens quite often and if I recall correctly, it is often caused by the installer not pressing 'save' after generating your API key. Could that be the case?

[2020-11-19 19:43] Barblo1986 commented on #133
I am using a Envoy-S-Metered-EU with the newest firmware R4.10.35

[2020-11-19 19:44] Barblo1986 commented on #133
![thumbnail_Schermafbeelding 2020-11-19 om 20 43 38](https://user-images.githubusercontent.com/74736445/99716138-0adc1580-2aa8-11eb-8420-dab88bbe58a2.jpg)

[2020-11-19 19:45] DiedB commented on #133
Can you visit `http://{enphase_ip}/production.json?details=1` and post the result here?

[2020-11-19 23:06] jekyc commented on #105
Hi,

I'm having the same issue as described by the OP - I also have an invert and battery.

I just checked the response of the https://server-api.growatt.com/newTwoPlantAPI.do for my setup, and it seems that I have yet another deviceType: 'mix':

`{'plantMoneyText': '0.00/D.Kr',
 'optimizerType': 0,
 'ammeterType': '0',
 'storagePgrid': '-1110',
 'todayEnergy': '1.4',
 'storageTodayPpv': '0',
 'in

[2020-11-20 10:44] pro-sumer commented on #105
Does `todayEnergy` have the correct value for your production today?

Or does `eChargeToday` need to be included in the calculation somehow?

[2020-11-20 12:25] jekyc commented on #105
`todayEnergy` has the same value as reported in ShinePhone app, so I don't think it is necessary to use the `eChargeToday` key/value for this purpose.

I toke a look at the web interface at server.growatt.com and data sent from the server, and in that response I have the `eToday` key/value. It seems that the python api implemented in https://github.com/Sjord/growatt_api_client/ also uses `server.g

[2020-11-20 13:50] hendriksenremco commented on #128
@DiedB Thanks for responding. I think indeed that this is a bug in Homey energy and not in your app. Keep up the good work and i will pass the issue through to Athom.

[2020-11-20 13:50] #128 closed

[2020-11-21 12:23] Barblo1986 commented on #133
{"production":[{"type":"inverters","activeCount":6,"readingTime":1605960738,"wNow":157,"whLifetime":1546719},{"type":"eim","activeCount":1,"measurementType":"production","readingTime":1605961173,"wNow":253.375,"whLifetime":1519928.012,"varhLeadLifetime":0.0,"varhLagLifetime":475714.77,"vahLifetime":1877561.999,"rmsCurrent":1.219,"rmsVoltage":230.104,"reactPwr":87.98,"apprntPwr":280.134,"pwrFactor"

[2020-11-21 12:24] Barblo1986 commented on #133
{"production":[{"type":"inverters","activeCount":6,"readingTime":1605960738,"wNow":157,"whLifetime":1546719},{"type":"eim","activeCount":1,"measurementType":"production","readingTime":1605961173,"wNow":253.375,"whLifetime":1519928.012,"varhLeadLifetime":0.0,"varhLagLifetime":475714.77,"vahLifetime":1877561.999,"rmsCurrent":1.219,"rmsVoltage":230.104,"reactPwr":87.98,"apprntPwr":280.134,"pwrFactor"

[2020-11-21 18:50] jeroenduhboer commented on #132
Diederik je hebt helemaal gelijk!! Het opslaan is vergeten.. Bedankt voor
je reactie..

Op do 19 nov. 2020 om 20:39 schreef Diederik Bakker <
notifications@github.com>:

[2020-11-21 19:00] #132 closed

[2020-11-22 16:39] pro-sumer commented on #105
We used `server.growatt.com` before migrating to `server-api.growatt.com` to support the `newTwo` API.

Unfortunately I can't find any documentation on Growatt's API, so we need to reverse engineer (by trial & error).

Would be great if we could find a set of domains & endpoints that support all Growatt devices, but I'm not sure we can...

[2020-11-23 19:56] DiedB commented on #133
Strange, your output aligns with what I would expect. What Homey software version are you running?

[2020-11-23 20:00] Barblo1986 commented on #133
I have a Homey (Early 2019) running on 4.2.0

[2020-11-24 22:29] DiedB commented on #133
Could you try the version at https://homey.app/a/it.diederik.solar/test/?

[2020-11-25 19:13] Frastabyte commented on #105
@DiedB Sorry for being silent for so long, was very busy. The new 4.3.3 version works now for me. Thanks a lot!

[2020-11-25 20:38] Barblo1986 commented on #133
Hi,

Have the latest version installed and the problem with the unit of total generated power is solved :) 👍 :)

Only the actual power generated will now be made negative in the evenings (when there is no sun). This because  the micro-inverters from Enphase use a little power.

As a result, the total generated power is incorrect. If I can see it properly, the negative values will be added to the t

[2020-11-27 12:27] DiedB commented on #133
Can you be more clear in the values you are seeing (W / kWh)? From your description, I think the app is behaving correctly.

[2020-11-27 12:27] #133 closed

[2020-11-28 09:21] telenut commented on #17
please re-open... same problem here.
Just installed solar panels. Looked up first if SAJ was suported by homey, and then you get this :s

[2020-11-29 06:35] robgreiner opened #134 "Fronius GEN24 does not work"
Hi, the new  Fronius Generation Symo GEN24 does not  work with the App. It seem‘s there is a new JSON Interface?
Kind regards
Robert

[2020-11-29 08:41] telenut commented on #17
To answer that question; this is what you get on that url=
1,370,62,0,4,2044,3,1713,1,65535,65535,0,0,0,0,0,0,0,0,0,0,0,0,5,4999,2328,8,65535,65535,65535,65535,3548,194,29,2

[2020-11-29 15:02] ThomasHoussin commented on #108
Hi,

For my own use I created an app that supports Fronius inverter and Fronius Smart Meter, and provides more data. It also fixes for me #128. I guess it should also fix issue #106, may be #134 (not tested however). Hope it can help

App is here : https://github.com/ThomasHoussin/com.thomashoussin.fronius

[2020-11-30 11:38] gregoiredore commented on #68
That would be awesome ! thanks in advance for the amazing work

[2020-12-05 22:00] prj32 commented on #108
Sorry guys, I missed your last update. Here is the output from additional command with latest firmware running.

{
   "Body" : {
      "Data" : {
         "0" : {
            "Current_AC_Phase_1" : 15.188000000000001,
            "Current_AC_Sum" : 15.188000000000001,
            "Details" : {
               "Manufacturer" : "Fronius",
               "Model" : "Smart Meter 63A-1",
               "

[2020-12-05 22:02] prj32 commented on #108
Yes I have both Smart Meter and Inverter

[2020-12-14 09:48] enbach commented on #119
I recently got my Trannergy system installed. Getting the same error code

[2020-12-15 14:04] twinkil123 opened #136 "Update frequency"
The app update frequency is too low. This makes the energy overview in Homey incorrect because the p1 smart meter sends updates more often, including all connected power plugs.
In this case I'm talking about a SolarEdge inverter. The original SolarEdge app refreshes significantly more.
Is there a possibility to make the update interval configurable? Or configure it by make / model, so the informat

[2020-12-15 14:11] DiedB commented on #136
I think it's a limit on the SolarEdge API. Their app might have looser boundaries on the amount of requests you make, but external apps can practically only do a request once every 15 minutes before being rate limited. They have also killed local inverter access if I recall correctly, so that is not a path we can take either.

If you want more frequent updates, the best solution is to install a de

[2020-12-15 14:41] DiedB commented on #108
@ThomasHoussin great work!

I was planning on slowly adding SDKv3 support for this app by releasing separate apps for most inverter types. Could we collaborate on upgrading your app to SDKv3 and release it separately in the Homey App Store? I can then deprecate support for the Fronius part of this app.

[2020-12-18 17:35] Cootjec commented on #119
I recently got my Trannergy system installed as well,  got the same error when I try to connect with the homey app

[ERR_UNHANDLED_ERROR]:
Unhandled error. ("You've been logged out or you have no authorization to use the service".)

Please let me know where I can help you

[2020-12-20 15:50] ThomasHoussin commented on #108
Yes, thanks ! I just migrated to Homey v5 to be able to try SDK v3 ; I just made some quick tests but migrating to v3 doesn't seem difficult (for now...).

[2020-12-20 17:38] DiedB commented on #108
Athom documentation is quite clear on the things that have been deprecated. Main thing is the cron library that has been removed.

[2020-12-30 18:52] jampeef opened #137 "Ferroamp support?"
Any chance to get ferroamp support in this nice app.
Someone made something for HA

https://github.com/henricm/ha-ferroamp

[2021-01-09 16:46] Jansiesling opened #138 "Wil toch niet connecten met Solis 4G Inverter:"
Beste,
ik heb nu ook een inverter van Solis.
Heb bovenstaande uitgevoerd via ( m.ginlong.com) ook het plant num: wat daar vernoemt wordt geeft geen verbinding met de inverter?
Heb ook het serienum van de datalogging stick ingevoerd die herkent hij ook niet.
weet jij hier meer over? @DiedB

Vr GR Jan

[2021-01-09 18:32] DiedB commented on #138
Haal je het plant ID uit de URL-balk? Volgens mij was het een 5 of 6-cijferig nummer.

[2021-01-09 18:49] Jansiesling commented on #138
Dag Diederik,

Snel antwoord dank hiervoor, heb onder V5 de app opnieuw op de homey gezet, zie hierboven het screenschot ik gebruik het nummer vernoemt zoals bij plant ID: 799153

Het andere nummer is van mijn Data Logging stick (die verbind de inverter met de router via WIFI) num: 4023709387

Vriendelijke groet,

Jan Siesling

Mobiel: 0642015915

Van: Diederik Bakker <notifications@github.com>
Ve

[2021-01-09 18:57] DiedB commented on #138
Het Plant ID is de juiste. Volgens de Ginlong API zijn er geen omvormers gekoppeld aan het account. Wellicht is de omvormer te nieuw en wordt hij daardoor niet getoond? Als je inlogt op het Ginlong Portal, krijg je dan wel productiestatistieken?

[2021-01-09 18:58] DiedB commented on #137
If others are in need for Ferroamp support too, please let me know here.

[2021-01-09 19:00] DiedB commented on #119
@MaxvandeLaar could you take a look?

[2021-01-09 19:00] #136 closed

[2021-01-09 20:04] Jansiesling commented on #138
Dag Diederik,

Zie bij de andere tabbladen geen verdere info staan! Dus ik zie geen productie statistieken.

Via de app (Solis home) zie ik wel de info.

Wat ik kan doen voor je is het boekje kopiëren via pdf jou dan opsturen, misschien dat je daar dan wat mee kan doen?

Vriendelijke groet,

Jan Siesling

Mobiel: 0642015915

Van: Diederik Bakker <notifications@github.com>
Verzonden: zaterdag 9 jan

[2021-01-30 20:51] fkey3 opened #139 "Feature request: download monitoring data"
Hi diederik, love your app.
I found a way to download all monitoring data from the solaredge monitoring site.
But I have to run the script manually.
Would be great if homey could run it in a scheduled way.

since your app is allready connecting via the API.
would this be something you can build into your app?

the details are on this website (including a simple script)
https://powershelladministra

[2021-02-08 14:48] DiedB commented on #139
Hey, thanks for your suggestion! While it is possible, this is not something Homey is meant to be doing (and I think you would be one of the very few users doing this).

You can export SolarEdge data from Homey Insights already into a CSV format. If you want to automate that, I suggest using a simple Python script on a Raspberry Pi.

[2021-02-08 14:48] #139 closed

[2021-02-09 11:52] ChristerSjo commented on #137
I'm in need of support for Ferroamp Energyhub I will replace my Solar Edge with Ferroamp Energyhub soon.

[2021-02-11 12:33] enbach commented on #119
@DiedB Do you have an update on this issue ? Or is there any way I could help/assist you ?

[2021-02-11 12:38] MaxvandeLaar commented on #119
I have not yet have a change to look at it, however, I can tell you that I am not experiencing any issues. At the same time, I am running my own custom version of this app before Trannergy got merged back in.

[2021-02-12 13:21] enbach commented on #119
@MaxvandeLaar Are you using the http://log1.trannery.com page ? Seems like that is the main issue for me and BertWi

[2021-02-12 19:13] BertWi commented on #119
Yes. Same error and that seems to be the issue.

[2021-02-12 19:42] MaxvandeLaar commented on #119
No I am using the aspx page. I can't register a logger on the page you use so I can't test it.

[2021-02-14 07:30] enbach commented on #119
@MaxvandeLaar, I could give you my login credentials, if that could be of use.

[2021-02-14 07:46] MaxvandeLaar commented on #119
@enbach no need, I managed to register my logger. I cannot promise you I can commit any time to this, but I will try to have a look.

[2021-02-14 08:31] BertWi commented on #119
Hi
As an alternative I bought a HomeWizard WiFi Energy Monitor (Euro 39,95) that you just plug in to your smart meter at home and now using the HomeWizard Energy App on my Homey. This now allows me to read all energy I produced and used for T1 and T2 and even per phase.  As a bonus can also read my gas usage.

[2021-02-14 16:52] Jansiesling commented on #138
Beste Diederik,

Was je er nog mee verder aan de gang geweest om het mogelijk te maken dat mensen die een nieuwere Ginlong hebben die kunnen koppelen aan de homey via jou app?

Vriendelijke groet,

Jan Siesling

Snipweg 26

7331LV Apeldoorn

Van: Diederik Bakker <notifications@github.com>
Verzonden: zaterdag 9 januari 2021 19:58
Aan: DiedB/Homey-SolarPanels <Homey-SolarPanels@noreply.github.com>
C

[2021-02-17 19:22] DiedB commented on #138
Nog niet, ik heb vrij weinig tijd en ik heb geen documentatie van een (publieke) API voor de nieuwe Solis inverters. Voorlopig gaat dit dus denk ik niet gebeuren, maar ik laat de issue open staan mocht dat ik de toekomst veranderen.

[2021-02-17 19:52] Jansiesling commented on #138
Ik heb wel een installation and Operation Manual voor je die bij de huidige Inverter zat.

Kan die wel omzetten naar PDF, indien je dat zou willen?

Vriendelijke groet,

Jan Siesling

Van: Diederik Bakker <notifications@github.com>
Verzonden: woensdag 17 februari 2021 20:23
Aan: DiedB/Homey-SolarPanels <Homey-SolarPanels@noreply.github.com>
CC: Jansiesling <j.siesling@chello.nl>; Author <author@no

[2021-02-17 23:17] DiedB commented on #138
Helaas, de informatie die ik nodig heb staat daar niet in. Ik denk overigens dat Ginlong dit helemaal niet officieel ondersteunt, en zolang dat niet zo is, is het lastig om ondersteuning te bieden via een Homey-app

[2021-02-18 12:18] Harinozo commented on #119
I had the same problem but I have a solution for people who log in to the new monitoring portal and can not use the app. You have to register on the 'old' monitoring portal. https://log.trannergy.com/. When registering, use the logger s/n that can be found in your 'new' portal under devices. After a while the data will arrive and you can use this app in Homey.

[2021-02-18 14:28] enbach commented on #119
@Harinozo Thanks for the info, I've just registered on the old monitoring portal. Hopefully this is a quick fix.

[2021-02-25 21:56] reyntjensw commented on #78
@DiedB Did anything change yet in the way the api works?
What are you missing or what are you looking for? Maybe we can create a case at Huawei for this.

[2021-03-01 18:40] DiedB commented on #78
@reyntjensw Not that I know of.

What I would like is a user friendly pairing process for the app (if each user has to send an e-mail to Huawei, it requires documentation and a lot of hand-holding for most users), and a well-documented and supported API.

[2021-03-03 16:13] OllemGit commented on #129
(Most?) OMNIK inverters can also be accessed locally:
http://\<local ip address OMNIK inverter\>/js/status.js

for this url no userid or password is needed, just IP Address

More details: https://github.com/robbinjanssen/home-assistant-omnik-inverter

The output is a very long string with the required production data at fixed position, which is relatively easy to parse.
However, according to the c

[2021-03-03 18:32] DiedB commented on #129
And `http://[omnik-ip]/status.json?CMD=inv_query&rand=38219389`?

[2021-03-03 20:13] OllemGit commented on #129
Result (after login pop-up for uid-pwd):

[code]

uid-pwd are okay because IP address without any parameter/.js/.json in URL results in status page after login

[2021-03-04 16:34] DiedB commented on #129
Ah, I see.

I also saw a Home Assistant implementation where the inverter was approached over a raw TCP connection on port 8899. Do you have Netcat or Telnet to try and see what happens on that port?

[2021-03-04 20:23] OllemGit commented on #129
unfortunately no Telnet not around somewhere for now, but Netcat (not familiar with it) did report a port listing:

`root@abc:~# netcat -v -n  192.168.2.xyz 1000-9000`
`(UNKNOWN) [192.168.2.xyz] 8899 (?) open`

[2021-03-04 20:32] OllemGit commented on #129
`root@abc:~# netcat -l 192.168.2.xyz 8899`

Generates no output and nothing happens, but might be due to being dark outside :-)
Will retry tomorrow

[2021-03-04 21:20] DiedB commented on #129
Without the `-l` it might generate some output. I can also look at the implementation you linked.

[2021-03-04 23:32] DiedB commented on #129
Can someone port forward port 8899 from their Omnik inverter and send me the IP and WiFi serial number? I am willing to create a PoC for local connection to the Omnik inverter.

[2021-03-05 10:30] ElStupid opened #140 "Enphase Envoy discovery op ander subnet"
Discovery werkt prima, mijn Enphase was direct gevonden toen ik m installeerde.
Inmiddels ben ik mijn netwerk wat aan het scheiden. De Enphase zit op een ander subnet dan de Homey en nu is de connectie weg met mijn omvormer. Is er een mogelijkheid om zelf een IP adres in te voeren?

[2021-03-06 14:33] DiedB commented on #140
Hmm, dat is een interessant geval. Is er geen mogelijkheid om mDNS te relayen tussen je subnets? Dan ben je als het goed is ook van het probleem af.

Ik gebruik de SDK om discovery te doen, dus het wordt een beetje omslachtig om daar buitenom ook nog handmatig IP-adressen in te laten voeren. Wil niet zeggen dat het niet kan, maar ik doe het liever niet.

[2021-03-06 17:59] DiedB commented on #129
<img width="1712" alt="image" src="https://user-images.githubusercontent.com/7628001/110216182-e9b00100-7ead-11eb-8f1c-d056bc928c0d.png">

Just implemented it, seems to work well. Will monitor it and check whether it keeps working during the night, when the inverter powers down.

[2021-03-06 20:35] ElStupid commented on #140
Okee, snap dat je dat niet wilt. Op mijn Toon (thermostaat) kan ik gewoon het IP adres van de Envoy instellen en dat gaat goed (ook ander subnet). Ik zal es kijken wat ik voor elkaar kan krijgen met mDNS. Niet mijn sterke punt ;)

[2021-03-07 17:05] DiedB commented on #140
Wat voor router gebruik je? Ik kan je wellicht wat resources doorsturen. Op mijn EdgeRouter was het simpelweg het installeren van een daemon via de CLI.

[2021-03-07 17:07] DiedB commented on #129
Released it to https://homey.app/a/it.diederik.solar/test/, wrote some documentation at https://app.gitbook.com/@diederik/s/homey-solar-panels-app/inverters/omnik. Please try it and let me know if this works!

[2021-03-07 17:09] DiedB commented on #113
Does it now work for you? Planning to take the app to SDK v3 but that will take some more time. Limited testing with the stable version of 5.0.0 shows that it works for me.

[2021-03-07 17:15] DiedB commented on #137
Does the device have a local API you can connect to? Does it show production data? I prefer not going the MQTT route, that works well for Homekit but is a little more involved for Homey Apps.

[2021-03-07 17:19] ElStupid commented on #140
Ik gebruik er eentje van TP-Link, de TL-ER7206. Als je wat kan vinden zou het mooi zijn, maar anders ga ik mijn Envoy in hetzelfde LAN hangen

[2021-03-07 17:23] DiedB commented on #134
Someone else wrote an app for Fronius which should also support the GEN24. You should be able to find it in the App Store!

[2021-03-07 17:23] #134 closed

[2021-03-07 17:26] mveck commented on #113
Hi Diederik, Solaredge is working fine now. It really looks like a temporary disorder in the kernel, but now its working fine for me.  Using 4.3.4 and Solaredge. Homey kernel 5.0.1 rc1

[2021-03-07 17:26] DiedB commented on #113
Yeah, there is a reason it's called RC ;-) Will keep this issue open until SDK v3 is implemented.

[2021-03-08 06:40] jampeef commented on #137
I'm not sure other then that it has that mqtt broker and the cloud portal.
It's supposed to have an open API according the manual. I can call them and
check to see the possibilities.

On Sun, Mar 7, 2021, 18:15 Diederik Bakker <notifications@github.com> wrote:

[2021-03-08 08:11] ChristerSjo commented on #137
Yes it have an open API. I have write to Ferroamp to get hold of the documentation around the API. I will be back.

Från: Diederik Bakker <notifications@github.com>
Skickat: den 7 mars 2021 18:16
Till: DiedB/Homey-SolarPanels <Homey-SolarPanels@noreply.github.com>
Kopia: ChristerSjo <christer@sjostrom.biz>; Comment <comment@noreply.github.com>
Ämne: Re: [DiedB/Homey-SolarPanels] Ferroamp support?

[2021-03-08 08:18] DiedB commented on #137
Great, will implement it once the documentation is here!

[2021-03-08 11:27] reyntjensw commented on #78
@DiedB I understand, I can ask but I'm afraid it will not that easy to fix.
In the meantime, is there any way we can use it right now?

[2021-03-08 11:36] DiedB commented on #78
Maybe someone can record local traffic between the FusionSolar app and the inverter? Does the inverter advertise over mDNS?

I found [this](https://gitlab.com/Emilv2/huawei-solar) project that locally connects to the inverter over ModBUS. Can someone try it? Doing an `nmap` scan on the inverter and posting the results here would also help.

[2021-03-08 11:37] mveck commented on #113
Hi Diederik, I would promote to close this, since the temporary kernel mishap was solved in one of het 64 RC's of R5.0.0! I need to run that kernel due to my development activities. Now Solaredge is working fine on my side, and (my catch) is that you don't have to move to SDK 3.0 on your side (unless you are bound to Zigbee).

[2021-03-08 11:41] DiedB commented on #113
In the end I have to, SDK v2 will ultimately be end of life. So while your issue has been resolved, this thread serves as a reminder that the app has to be upgraded some time in the future.

[2021-03-08 12:04] Fire69 commented on #78
Anything you can learn from this Home Assistant integration?
https://github.com/Emilv2/huawei_solar
Seems like it reads the data from the inverter directly over ip instead of needing ModBUS.

[2021-03-08 12:15] DiedB commented on #78
It uses the repository I linked as a package, so I think that is still ModBUS? Correct me if I’m wrong.

[2021-03-08 13:25] Fire69 commented on #78
Ah, didn't notice the repository :)

As far as I have found (info is pretty scarce) you can connect via ModBUS TCP.  Some say you have to connect to the built-in AP, others managed to connect to it over the router.

I'm going to mail Huawei to ask more info.

[2021-03-08 13:50] Fire69 commented on #78
Mail sent.

Maybe you can get some more info from this topic, topic starter seems to have successfully connected over wifi.

[2021-03-08 13:57] KimKodde commented on #129
Thanks for the better solution. I can connect to it now and gives me three values:
Energie (4.1) = ok
Vermogen (132667) = not ok, hmm  should now be around 1600 watt
Voltage = 4449.43 = not ok, don't need this value.
So energy is ok but Power is not correct

part of status.js output
var version = "H4.01.38Y1.0.08W1.0.07"; var m2mMid = "XXXXXXX"; var wlanMac = "XX: XX: XX: XX: XX: XX"; var m2mRssi

[2021-03-08 14:04] DiedB commented on #129
Interesting, seems like some offsets are incorrect when parsing the response from your inverter. What are the first three digits of your WiFi S/N?

Guess I will have to add some more logging to the app, will request you to submit a diagnostics report afterwards.

[2021-03-08 14:07] KimKodde commented on #129
S/N:160689....

[2021-03-08 14:33] DiedB commented on #129
Could you update to the latest version from the test link above (v4.4.4), wait a few minutes and send a diagnostic report from the app settings page, with an approximation of the current power value in the attached message?

[2021-03-08 14:41] KimKodde commented on #129
cc2ae772-b5b4-4452-84a5-5f8e5f3ff91b and around 400 watt
App was automatic updated

[2021-03-08 15:25] DiedB commented on #129
Thanks a lot, has been fixed! Your inverter is slightly different from that of @OllemGit, returning `ff` for fields that contain no data instead of `00`, hence the app breaking. The new implementation is fine with both.

[2021-03-08 15:29] quahfamili commented on #78
Really hope there is some head way to this. Recently I had a trip that is gone 2 weeks unnoticed.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Fire69 <notifications@github.com>
Sent: Monday, March 8, 2021 9:50:25 PM
To: DiedB/Homey-SolarPanels <Homey-SolarPanels@noreply.github.com>
Cc: quahfamili <quahfamili@live.com.sg>; Comment <comment@noreply.github.c

[2021-03-08 15:40] KimKodde commented on #129
Tested and works! Even the voltage now shows 233.3 volt. Thanks for the quick fix

[2021-03-08 15:44] DiedB commented on #140
Ik kan hier weinig over vinden helaas, zelf ook geen (recente) ervaring met TP-Link spul. Wellicht dat Athom ooit een handmatige override implementeert voor mDNS discovery, is naar mijn optiek wel een must namelijk.

[2021-03-08 15:44] #140 closed

[2021-03-08 20:01] ElStupid commented on #140
Thanks voor de hulp tot zover. Ik heb de vraag inmiddels ook bij TP-Link neergelegd. Als ik meer weet meld ik het nog wel even.

[2021-03-08 22:34] Fire69 commented on #78
Got a reply, not really the answer I was hoping for...
If I understand correctly, this is to completely replace their monitoring system with your own.  Don't really want that.
[2019INVL044 How to connect SUN2000L trough ModBus TCP to a Third-party monitoring.pdf](https://github.com/DiedB/Homey-SolarPanels/files/6104558/2019INVL044.How.to.connect.SUN2000L.trough.ModBus.TCP.to.a.Third-party.monitori

[2021-03-09 00:10] DiedB commented on #78
Thanks for the effort! I think this is fine and should be enough to build a Homey integration. Could you forward port 502 of your Huawei inverter and contact me directly on the community forum, so I can have a look?

[2021-03-09 07:31] Fire69 commented on #78
Done!

[2021-03-09 07:45] gertsve9 commented on #78
Hi, Looks forward to this integration. Let me know if You want more inventers to test.

Med vänliga hälsningar

Gert Svensson

[2021-03-09 16:31] ChristerSjo commented on #137
Here is the API documentations I get from Ferroamp.

Från: Diederik Bakker <notifications@github.com <mailto:notifications@github.com> >
Skickat: den 8 mars 2021 09:19
Till: DiedB/Homey-SolarPanels <Homey-SolarPanels@noreply.github.com>
Kopia: ChristerSjo <christer@sjostrom.biz>; Comment <comment@noreply.github.com>
Ämne: Re: [DiedB/Homey-SolarPanels] Ferroamp support? (#137)

Great, will implemen

[2021-03-10 03:47] ChristerSjo commented on #137
I don´t now if you need it but here is the Modbus API.
[Ferroamp Modbus TCP Specification RevB.pdf](https://github.com/DiedB/Homey-SolarPanels/files/6113032/Ferroamp.Modbus.TCP.Specification.RevB.pdf)

[2021-03-11 20:56] RalfGroot commented on #129
@DiedB Is there already a solution for my Omnik. Could it help to give you access to mine on port 8899?
https://community.athom.com/t/app-solar-panels/44273/12

[2021-03-13 12:31] MartinSha opened #141 "Support for SMA inverter requested"
Hallo Diederik,

Following you up on your new thread in the Homey Community Forum, I would find it handy if your solar panel app could support my SMA (Germany) inverter and/or SMA's own Android app and/or SunnyPortal website. Let me know what details you need. At present info goes from the inverter to SMA and can be viewed in as good as live graphs and figures, but it would be great if I could tap

[2021-03-13 13:57] DiedB commented on #141
Hi Martin, would [this](https://homey.app/nl-nl/app/sma.modbus/SMA-Solar/) be a solution?

[2021-03-14 20:55] reyntjensw commented on #78
@DiedB just fyi I did find this repo of an integration working with the api keys (https://gitlab.com/martinstannard/solar).
Do you need some extra test setups so you can query other plants?

[2021-03-14 21:54] Fire69 commented on #78
I tried getting this running on Ubuntu 2 months ago, didn't work.  Created an issue on github, no reply.
I'm now trying to get it running on Windows, this is even more frustrating... :/

[2021-03-15 16:09] jampeef commented on #137
Hey. I can make them open up the cloud api.  You should be able to generate apikeys there

[2021-03-15 16:55] jampeef commented on #137
So I talked to a technician om ferroamp and all the apis will on open in mine tomorrow.
I'd really like to add flowcards to trigger battery discharge and so on

[2021-03-15 16:56] DiedB commented on #137
@jampeef What is needed to get Cloud API keys? Would this be an easy process for every user?

[2021-03-15 16:59] jampeef commented on #137
I'm not sure yet. They're updating my software atm so I will be able to trigger battery discharge from the portal. I'll know tomorrow if it's easy getting api keys. I would assume it is.

[2021-03-16 12:47] DiedB commented on #78
I tried the Python library (which uses ModBUS) last week, that seems to work well. However, there are some timing-related quirks with the Huawei implementation which I need to look at.

[2021-03-16 12:57] Fire69 commented on #78
Does this help?
https://forum.huawei.com/enterprise/en/forum.php?mod=redirect&goto=findpost&ptid=603386&pid=3364703

[2021-03-16 15:13] #141 closed

[2021-03-16 17:45] DiedB commented on #78
Yeah, that's what I found as well. The issue was the client ID, most libraries default to `1` while the inverter expects `0`. My PoC works after changing that, will add it to the Homey app tomorrow if I find the time.

[2021-03-17 10:40] DiedB commented on #78
Could you all test the version at https://homey.app/a/it.diederik.solar/test/?

And can someone check whether the FusionSolar app shows the inverter IP address anywhere? If that's the case, could you make a screenshot of that screen and document the steps taken to get to that screen, so that I can add it to the app documentation?

[2021-03-17 10:46] Fire69 commented on #78
Installed the app, added the inverter, worked flawlessly! 💯

Can't find the IP anywhere in the FusionSolar app unfortunately, I guess the user will need to check it in the router.

[2021-03-17 15:28] reyntjensw commented on #78
@Fire69 did you have to enable something else?
I'm getting an ECONNREFUSED.

I'm using a SUN2000-6KTL

[2021-03-17 15:35] Fire69 commented on #78
@reyntjensw no, didn't have to do anything special to make it work.
Where do you get that error?  While adding the device to Homey?

[2021-03-17 15:42] DiedB commented on #78
@reyntjensw Maybe the ModBUS interface of your inverter has to be enabled in the FusionSolar app? Or the IP does not match?

[2021-03-17 15:52] reyntjensw commented on #78
@Fire69 @DiedB after adding the IP I'm getting the connection error.
I have been reading that the modbus is only working on the wifi antenna, not on systems that work with an ethernet cable.

I think I already have the correct ip, but just to be sure, I've created a case at Huawei.
Once I have more info, I'll post it here

[2021-03-18 15:33] gertsve9 commented on #78
Same problem for med, tried with correct IP.
I'm getting an ECONNREFUSED.
Wired connection.

[2021-03-19 15:22] jampeef commented on #137
so been busy with other stuff, I now have all Apis open , seems pretty bad for getting cloud api keys, as I cant seem to find any documentation how to obtain keys other that from ferroamp support.
I've quickly just logged into the mqtt broker and checked to see and here where you get everything.
I'm not sure how to do anything with the modbus tcp connection.

[2021-03-19 15:36] DiedB commented on #78
Apparently port 502 is closed on wired connections? Can someone do a port scan to see what ports are open?

[2021-03-20 09:12] gertsve9 commented on #78
I find no open ports at all.

/Gert Svensson

[2021-03-20 10:14] Fire69 commented on #78
On wifi only 502 is open.

How are you guys connecting the inverter by cable?  Normally it only has wifi.

[2021-03-20 11:17] jampeef commented on #137
it would be easy if you just email ferroamp they give you a key, so should be ok, i thought there was a way to make a token yourself from the cloud API.   To trigger anything on the battery side you need to connect to the mqtt broker

[2021-03-20 12:36] DiedB commented on #78
I am also a little confused. Do you use a Smart Dongle-WLAN-FE? That one should support both WiFi and Ethernet connections. The inverter itself should also have a RJ45 port, but that one is meant for RS485 communications.

[2021-03-20 12:48] DiedB commented on #137
If there's not a way to make a token yourself, then that option is not user-friendly enough and the options for MQTT or Modbus are left. While I would prefer Modbus, MQTT will probably be the easiest to support, I cannot find any Modbus documentation. I will need access to a Ferroamp inverter on port 1883 in order to implement it, can someone make a port forward and send me the address in private?

[2021-03-20 12:53] DiedB commented on #129
@RalfGroot Sure, I will have a look. Just send me the IP address in private, on the Homey Community Forum for example.

[2021-03-20 13:27] gertsve9 commented on #78
Yes I have that dongle, maybe the wifi is disabled since I dont use it. I will check it.

Vänligen

Gert Svensson

Mail ***@***.***

[2021-03-20 13:32] DiedB commented on #78
I found [this](https://forum.huawei.com/enterprise/en/sun2000-smart-dongle-modbus-tcp-issues/thread/675885-100027?page=1) thread describing the issues. Port 502 is closed when using an ethernet connection but works fine over WiFi.

Best workaround currently is connecting the inverter to your WiFi network. Could you try that?

[2021-03-20 14:31] jampeef commented on #137
I could do that yes, not sure how to do a PM on github though :)

[2021-03-20 14:38] DiedB commented on #137
Not possible, send it to diederik@outlook.com

[2021-03-20 17:23] Fire69 commented on #78
Try mailing eu_inverter_support@huawei.com to see if you can open the port on that adapter.  Huawei support is pretty good/fast.

[2021-03-22 09:02] reyntjensw commented on #78
Huawei support indeed confirmed that ethernet is not supporting port 502.
I'll try to connect to our wifi network, if it doesn't work, I'll request the installer to do the change, they are coming over this week.

I'll keep you posted

[2021-03-22 09:16] Fire69 commented on #78
@reyntjensw I don't know if the built-in hotspot is disabled when the adapter is connected.
Can you see the SSID SUN2000L-xxxxx?  If so, you can use the app FusionHome to connect to it.
If I'm not mistaken the default password to connect is 'changeme' or 'Changeme'.
After take you can log on as user, the default password is '00000a'.
You can then configure the wifi for connecting to your router.

[2021-03-22 09:33] reyntjensw commented on #78
@Fire69 it looks like the installer did change it.
I'll ask them to just connect to the wifi when they are here.

[2021-03-22 11:24] RalfGroot commented on #129
Send you a pm on https://community.athom.com/

[2021-03-23 12:11] reyntjensw commented on #78
@Fire69 small update, they have switched the inverter to wifi but I'm unable to connect.
I'm getting an error port not enabled.

I'm going to try if support can fix it, otherwise I'll have to ask the installer to do so.

[2021-03-23 12:24] Fire69 commented on #78
Let's hope so.

Also, ask your installer for the passwords.  You should at least know the password for the hotspot and the standard user.

[2021-03-23 15:03] DiedB commented on #78
Port forwarding should not be necessary, under the assumption that the Huawei inverter is connected to the same WiFi network as your Homey. Just enter the (internal) IP address of the Huawei inverter and it should be working.

[2021-03-23 16:36] Fire69 commented on #78
Just used the FusionHome app to check all available 'installer' options.
Only thing that might maybe do something is the setting for RS485 where you can select ModBus as protocol, but it's set as default.
Nothing else to change or open ports.

I did notice that only 1 device can be connected at once.
I had to stop the Solarpanels app before I could connect through FusionHome.

[2021-03-24 20:06] reyntjensw commented on #78
I've requested the access but I'm still unable to access the interface.
I've created a ticket at Huawei, there seems to be an issue with my inverter, the case was escalated to L2

[2021-03-26 11:02] Cupra1979 opened #142 "Riello Solartech support?"
Any chance to get Riello Solartech support in the app? Is very common in Italy as "first on site equipment" for new buildings.
Their PV RS series inverters have integrated double channel WiFi connection (direct and router connection),

The monitoring is by APP and/or supervision web portal.
https://www.riello-solartech.it/product/rs-3-0/

Thank you very much!!

[2021-03-26 17:41] jampeef commented on #137
So did you have a look at this or?

[2021-03-28 14:09] RalfGroot commented on #129
@DiedB did you had time to look at it allready? When you need more info, let me know!

[2021-03-29 20:06] psvrob opened #143 "SAJ inverter"
Hi,

I have a problem connecting my new SAJ inverter to homey. It keeps saying that my ip adres is wrong. This is not true because i have checked the ip adres on my router.

Any ideas how to solve this?

[2021-03-29 20:58] DiedB commented on #142
Maybe, if there is enough interest. I'll keep this issue open for others to chime in.

[2021-03-30 14:59] DiedB commented on #143
Can you open a browser and go to `http://[ip_address]/real_time_data.xml`? If that doesn't work, can you visit the IP address directly?

[2021-04-01 07:40] Cupra1979 commented on #142
Thank you for your feedback, I hope to see it implemented sooner or later.
Thanks again.

[2021-04-02 14:17] reyntjensw commented on #78
I received an answer today, so from what I understand, it doesn't work on my inverter, that is a pity
`We got message from L3 that the function Is in the moment not applicable, but if it is chosen this option, the devices will not support multi Modbus TCP. Huawei doesn’t have a estimation time for this problem`

[2021-04-03 09:04] DiedB commented on #78
Their description (of `multi Modbus TCP`) sounds like they are talking about concurrent connections (like @Fire69 mentioned, when using the FusionHome app). What exact inverter model and connectivity module do you have @reyntjensw?

[2021-04-04 13:30] RalfGroot commented on #129
Nice to hear that data will be transfered to the SOLARMAN platform. We have to wait till we get an email, after the data have been migrated.
- 1 month free trail
-  after the free month 6 EUR/year

@DiedB issue can be closed now?

[https://omnik1.solarmanpv.com/](url)
Dear Users,

As Omnik has gone bankrupt and is not able to provide service in the future, we are sorry to inform you that this plat

[2021-04-07 10:07] reyntjensw commented on #78
@DiedB We have SUN2000-6KTL-M1 (it's a 3 phase inverter)

[2021-04-10 12:56] arnoarnoo opened #144 "Enphase connection issues"
Hi Diederik,
Goed dat je voor Homey ontwikkelt!
Ik kan mijn Enphase envoy niet activeren als apparaat; error melding;
Error retrieving data (Fetcherror, invalid response body at http..nr.... error reason unexpected token < in JSON at position 4.

daarna dacht ik met Enlighten te werken, maar de activatie vraagt naar de Api key en die heb je niet vrijgegeven.

bedankt voor je hulp,
Arno

[2021-04-10 13:07] DiedB commented on #144
Dank voor je donatie!

Ik zou de Enlighten integratie niet aanraden, door limitaties aan de kant van Enphase moet je je eigen developer account registeren, je systeem koppelen en dan de API-key opvragen. Zie het eerder als een fallback als je omvormer Envoy niet blijkt te ondersteunen.

Zou je eens kunnen kijken wat je krijgt als je naar `http://[inverter-ip]/production.json` gaat?

[2021-04-10 20:57] arnoarnoo commented on #144
Hi,
Die url bestaat niet, geeft een 401 error.
De production menu item gaat naar http://-IP-adres/production?locale=en
De envoy web toegang werkt gewoon en ik zie alle details van alle 18 (micro)omvormers inclusief dagelijkse productie per omvormer.
Het PV-Systeem heeft een omvormer per paneel. De Envoy ondersteunt dus de omvormers.
Groeten,

Arno

On 10 Apr 2021, at 15:07, Diederik Bakker ***@***

[2021-04-12 12:06] DiedB commented on #144
Interessant, welk model Envoy heb je? Zit er enige wachtwoordbeveiliging op?

Zie https://enphase.com/en-us/support/what-envoy voor een referentie. Ik heb de app getest op een Envoy S, als ik het me goed herinner, maar het zou inderdaad best kunnen dat andere modellen ander gedrag vertonen.

[2021-04-12 19:12] CrazyMelodie opened #145 "Support Sungrow Sh10rt - iSolar-Cloud / Homey Pro"
Hello, my english is not very good but I'll try anyway..
I have a Sungrow Sh10rt inverter with 11 kW battery storage.
I can read out all data via the iSolar cloud app. Is it possible to process these data in my Homey Pro?
I need help with the configuration because a Sungrow photovoltaic system is not suggested in Homey Pro.

Many thanks for the support.
Greetings Frank

[2021-04-12 19:27] arnoarnoo commented on #144
Hi Diederik,
ik heb de gewone Envoy, de ovale. Volgens mij de voorloper van de Envoy-S.
Hij heeft geen wachtwoordbeveiliging: plug and play. Wel een enlighten manager account; dus de functionaliteit van de envoy is beschikbaar via de account. De Enlighten app werkt prima.
ik heb ff de API technical brief instructie geprobeerd: http://{ip-envoy}/api/v1/production geeft exact de respons die in de te

[2021-04-14 09:45] DiedB commented on #145
I had a quick look and it seems that there is no public Sungrow API (https://github.com/kronicd/sungrow2pvoutput/issues/1). For the time being, I'll refrain from implementing it for that reason. Might there be a lot of support we can have a look if this can be worked around, so I'll keep this issue open for others to chime in.

[2021-04-14 09:49] DiedB commented on #144
Ik zie het, interessant. Dat zal dan voorbehouden zijn aan de Envoy-S.

Dit artikel beschrijft het een beetje: https://thecomputerperson.wordpress.com/2016/08/03/enphase-envoy-s-data-scraping/

Ik zie nu ook waarom de keuze is gemaakt om de JSON op te halen, er zit een stuk meer data in (en die wordt ook gebruikt bij systemen die een batterij hebben of ook de consumptie van het huis meten). Ik zal

[2021-04-14 15:04] arnoarnoo commented on #144
Zou fijn zijn als je eraan toe komt!

Met vriendelijke groet,
Kind regards,

Arno van Oosten

On 14 Apr 2021, at 11:49, Diederik Bakker ***@***.***> wrote:

﻿
Ik zie het, interessant. Dat zal dan voorbehouden zijn aan de Envoy-S.

Dit artikel beschrijft het een beetje: https://thecomputerperson.wordpress.com/2016/08/03/enphase-envoy-s-data-scraping/

Ik zie nu ook waarom de keuze is gemaakt om de

[2021-04-18 14:54] locksen-nl commented on #88
@DiedB Tried to add it the function my self but im not skilled enough  I need to add yieldtotal for the Solax inverter

[2021-04-20 06:44] Eternity-again opened #146 "Omnik wifi Serial 0516xxxxxx"
Tries to add my Omnik invertor, but it fails with a time out.

I can access the configuratie page on the invertor via a ip adres. This Allies to setuo wifi and also displays the current power and yield of today/Total.

That page needs credentials (admin/admin).

[2021-05-03 09:42] SR253 commented on #78
Any updates on the 502 port error? Tested the Homey App and got the same result. I have logged in to my inverter via FusionHome but the app crashes almost every time, seems to be quality issues in the implementation of their app.

[2021-05-05 09:24] DiedB commented on #78
Not much, I don't have much control over it. Have been holding back releasing this to wait on feedback from users but if it is not working for many, we need to at least be able to specify the models that it does work for to prevent unnecessary issues being created here.

[2021-05-05 09:34] SR253 commented on #78
I have a connection via ethernet, that dont work - will test with wifi instead. I update you on progress as soon as I have enabled it (problematic - need to be "installer" but having a dialog with my vendor.

[2021-05-17 15:24] SR253 commented on #78
Changed to wifi, still Error: connect EHOSTTUNREACH problem.

[2021-05-17 18:46] JorissP opened #148 "Omnik migrated to SolarMan"
Thanx for maintaining this app. It has been very usefull with a Omnik inverter! As you might know Omnik is bankrupt, the Omnik portal is down and for this reason the Omnik part in the app does not work anymore. However, quite recently they migrated all Omnik data to Solarman. I tried to connect Homey with the 'Zonnepanelen' app with 'Solarman' but it does not work. I think I know why it doesn't wo

[2021-05-18 08:58] SR253 commented on #78
@DiedB  Can the error have to do with settings in RS485_1 in the inverter...
![IMG_B00DD562CF9E-1](https://user-images.githubusercontent.com/14196276/118622844-f911cb80-b7c7-11eb-955d-455fa6945f4f.jpeg)

[2021-05-18 09:27] SR253 commented on #78
@DiedB I have contacted Huawei EU support with a question regarding connecting to the inverter. Get back to you with the answer.

[2021-05-18 10:07] DiedB commented on #78
Thanks! Maybe someone who has it working can share a screenshot of the same page?

[2021-05-18 11:09] SR253 commented on #78
Screenshot via SUN2000 app, login as installer then Setttings>Communication configuration>RS485_1

[2021-05-18 17:59] Fire69 commented on #78
Settings are the same here.  Protocol MODBUS, baudrate 9600, comm port 1.  I don't have the Bus Frame Capture option.

[2021-05-19 10:54] SR253 commented on #78
Got an answer from Huawei support... and a file with specifications for Modbus definitions for Smart Dongle and inverter.

Not that helpful answer: "Regarding the errors you get on the homey app, please ask the developer of this app for support. It’s not Huawei app therefore we cannot offer support for it."

"The inverter communicates on Wi-Fi through the Smart Dongle which main purpose is to conn

[2021-05-19 11:59] DiedB commented on #78
It is probably the same documentation I already had, and which I based the app implementation on. The problem starts with the Modbus port not being open. Actually, it seems that it is only working for @Fire69.

Can you see your Smart Dongle firmware version anywhere? This user on the Huawei forums claims that it should work with the latest version (which @Fire69 might already have, but the others

[2021-05-19 12:05] SR253 commented on #78
I have version V100R001C00SPC116, will upgrade to latest version on recommendation from Huawei which is V100R001C00SPC118. Have not seen a 120.

Inverter version is V100R001C00SPC133 which I will upgrade to V100R001C00SPC134

[2021-05-19 12:34] SR253 commented on #78
Found this thread... https://forum.huawei.com/enterprise/en/modbus-serial-connection-not-stable-while-smart-donge-is-connected/thread/716459-100027?page=2

<img width="835" alt="Screenshot 2021-05-19 at 14 33 46" src="https://user-images.githubusercontent.com/14196276/118813407-60567b00-b8af-11eb-841c-89dca0c3873a.png">

[2021-05-19 12:37] DiedB commented on #78
Well they at least are working on it. I can imagine unstable Modbus connections can also be caused by using multiple Modbus clients concurrently. Were you able to get ahold of the latest version?

[2021-05-19 12:39] SR253 commented on #78
I have contacted my installer to update, but will probably be SPC118. Will see if it connects via wifi then.
@DiedB Have you looked at the OpenAPI?
https://forum.huawei.com/enterprise/en/communicate-with-fusionsolar-through-an-openapi-account/thread/591478-100027

Why go via MODBUS?

[2021-05-19 12:43] Fire69 commented on #78
@DiedB Seems I'm pretty lucky it's actually working for me! :D

@SR253 I know I'm on V100R001C00SPC134 for the inverter.  I didn't even know the wifi uses a separate dongle, thought it was built in to the inverter.
When I get home I'll see if I can find what version is on the dongle.

@DiedB looked at using the API first, but it's not very user friendly.  You have to request an OpenAPI account fro

[2021-05-19 12:43] DiedB commented on #78
Yes, see the start of this thread. Users had to request credentials at Huawei by sending them an email, I deemed it not user-friendly enough. Another factor is the fact that these APIs have not been too stable in the past (this app used many of them for different brands of inverters), causing lots of issues being opened here. My experience with local communication is that when it works, it does no

[2021-05-19 12:46] SR253 commented on #78
@Fire69 You dont have the SDongleA-05?

https://solar.huawei.com/en/download?p=%2F-%2Fmedia%2FSolar%2Fattachment%2Fpdf%2Feu%2Fdatasheet%2FSmartDongle.pdf

[2021-05-19 12:59] Fire69 commented on #78
@SR253 Only device listed is my inverter as far as I can find.
This is all I see:
![image](https://user-images.githubusercontent.com/1757287/118816735-c42e7300-b8b2-11eb-8389-be0cb036579d.png)

[2021-05-19 13:06] SR253 commented on #78
@Fire69 perhaps you have the lowest permissions set in the portal, I got my installer to give me additional permission. My list looks like this. Also have a few more menus.
<img width="1344" alt="Screenshot 2021-05-19 at 15 04 28" src="https://user-images.githubusercontent.com/14196276/118817706-ccd37900-b8b3-11eb-82b6-dd5875663912.png">

[2021-05-19 13:30] Fire69 commented on #78
@SR253 You use a different menu.
When I go there, still the same:
![image](https://user-images.githubusercontent.com/1757287/118820764-dca08c80-b8b6-11eb-9e99-bec7cc8fbf31.png)

When I scroll right a little, I see communication device is empty:
![image](https://user-images.githubusercontent.com/1757287/118820923-05288680-b8b7-11eb-8a2a-df6165c53656.png)

Same for you?

[2021-05-19 13:32] SR253 commented on #78
@Fire69 OK, no - it points to the Smart Dongle serialnumber... weird, thought the Smart Dongle was needed to communicate with the inverter.

[2021-05-19 13:46] Fire69 commented on #78
I was checking this to see what the differences are between the SUN2000L and SUN2000.
On the schematic I noticed the DSU666 smartmeter.  Do you have one of those connected?
I think it also uses Modbus and since it only seems to accept 1 connection at a time, maybe that is blocking it?

[2021-05-19 14:04] SR253 commented on #78
@Fire69 No, I do not have a smartmeter.

[2021-05-19 14:18] DiedB commented on #78
@Fire69 the problem @SR253 is having is that the inverter does not expose Modbus over TCP at all, concurrency issues can only start showing when the Modbus port is at least exposed.

It seems that your inverters are different and that you might not be using a Smart Dongle after all? What is the exact inverter model you have @Fire69?

[2021-05-19 14:21] SR253 commented on #78
@DiedB If I scan the IP the port 502 is exposed. But it does not accept connections. Have tried telnet aswell.

[2021-05-19 17:42] Fire69 commented on #78
I have a SUN2000L, @SR253 seems to have a SUN2000.
Just have a look at my inverter.  There is no dongle, it's just an antenna, so as I expected, the wifi is integrated.
Connection visible here: https://download-hk.huawei.com/mdl/image/download?uuid=f5461b45c1b94a9e9c9e796cdd3c1676

![image](https://user-images.githubusercontent.com/1757287/118859224-4b431180-b8da-11eb-9dd2-27290fe5c3ed.png)

[2021-05-20 08:00] DiedB commented on #78
That might explain the difference.

@SR253 is your inverter in the list in the document above (page 3)?

[2021-05-20 08:10] SR253 commented on #78
@DiedB No, my inverter is not in that document. My inverter is described in this one.
[SUN2000-3-10KTL-M0 MODBUS Interface Definitions.pdf](https://github.com/DiedB/Homey-SolarPanels/files/6514011/SUN2000-3-10KTL-M0.MODBUS.Interface.Definitions.pdf)

Page 2: Model id 404 and 405.... its a SUN2000-8KTL-M0

[2021-05-20 08:47] deBru1n commented on #148
Hi, if needed I can also do some testing. Looking forward to get a solution. I have some follow depending on the Solar information

[2021-05-30 15:37] Vlieger200 commented on #146
You can't connect to the Omnik API. Omnik's services have been taken over by Solarman in a new type of portal. There is now a request to link this portal to the Omnik inverters in the app. Omnik is bankrupt.

[2021-06-05 11:42] JMHuls opened #150 "Support for credentials (Omnik)"
Can't connect to my Omnik inverter with the "test" app (it's not in the stated ranges). But when I try to connect via IP in a browser I need to fill in some credentials (default is "admin" for both username and password, but that can be changed during the setup of the inverter).

Is there a possibilty to add fields for credentials in the connect-form where you ask for the local-IP and de WiFi-SN?

[2021-06-08 14:06] robkeemink opened #151 "Enphase"
After today the app does not regognize my 2 enphase envoy systems anymore

Can you see why?

[2021-06-09 12:12] robkeemink commented on #151
Ik zie ze allebei wel op ip adres. Ze zijn lange tijd wel gewoon gevonden die de app. Maar na stroomonderbreking was er geen connectie meer. Opnieuw toevoegen geeft: geen nieuwe apparaten gevonden

[2021-06-09 12:15] DiedB commented on #151
Homey zoekt de Enphase omvormers via mDNS, een lokaal netwerkprotocol voor discovery van hosts. Kan het zijn dat er iets aan je netwerkconfiguratie is veranderd, waardoor Homey in een ander subnet zit dan je Enphase-systemen? In die situatie kun je de systemen prima via hun IP-adres benaderen maar zal Homey ze niet vinden (omdat mDNS niet zonder meer buiten een subnet reikt).

[2021-06-09 12:34] POfransz commented on #143
Hi Diederik...I have the same problem. Do you mean the access point IP-adress or the original IP-adress when you start installing the SAJ inverter. I shall try both....when I it does not work shall I come back with this.
The comment in your app is a little bit a riddle when not a success. Is it possible to change that?

[2021-06-09 12:35] robkeemink commented on #151
Niets veranderd aan netwerk/subnet. Gewoon een home netwerk met ethernet
(zitten de 2 enphases in) en wifi (Homey). Tot gisteren werkte het wel Na
stroomonderbreking kan ik de enphases niet meer in de homey vinden

Op wo 9 jun. 2021 om 14:15 schreef Diederik Bakker ***@***.***

[2021-06-09 12:36] DiedB commented on #143
The IP address currently assigned to the SAJ inverter. Can be found in your router, maybe in the SAJ app, maybe on the screen of the inverter (if it has one).

[2021-06-09 12:37] DiedB commented on #151
Hmm, router herstarten?

[2021-06-09 12:44] robkeemink commented on #151
als eerste al gedaan... er is op de meterkast gisteren een
loadbalancer aangesloten....Voor laadpaal, maar die staat los van netwerk

ik ga wat meer dingen resetten: alvast bedankt voor je snelle reactie....
enne: het heeft maanden fluitend gewerkt

Op wo 9 jun. 2021 om 14:37 schreef Diederik Bakker ***@***.***

[2021-06-09 12:51] robkeemink commented on #151
Homey zegt bij toevoegen enphase: geen NIEUW apparaten gevonden.... Kan het
zijn dat de oude instellingen nog ergen in de homey staan?

Op wo 9 jun. 2021 om 14:37 schreef Diederik Bakker ***@***.***

[2021-06-09 12:53] DiedB commented on #151
Hmm, je noemde dat ze opeens niet meer werkten, heb je ze ergens in het proces zelf verwijderd?

[2021-06-09 12:59] robkeemink commented on #151
Gisteren toon de stroom er weer op kwam, werden de enphases niet meer
gevonden.  Ik heb ze toen in de homey verwijderd..... en bij opnieuw
toevoegen: geen nieuwe apparaten gevonden

Op wo 9 jun. 2021 14:53 schreef Diederik Bakker ***@***.***>:

[2021-06-09 13:11] POfransz commented on #143
1) I have tried the access point  "http://[ip_address]/real_time_data.xml" and I get the sign-in screen of the access point.
   After signing in ...I get in the firefox browser "404: The requested file cannot be found."
2) I have also tried the IP-adress 10.10.176.1....but I get nothing..

OK....I am not so an IT-guy...and I will explain it as good as I can....
I renamed te access point. changed t

[2021-06-10 07:00] DiedB commented on #143
You need to connect the SAJ inverter to your home network (the same network Homey is connected to). That should be possible using the web server you already found.

Afterwards, you will have to find the IP address of the inverter in your home network. Possibly, it gives you the IP address after connecting, otherwise, you will have to have a look in the web interface of your router.

[2021-06-10 13:10] robkeemink commented on #151
Hoi Diederik,

Heb je nog tips? Je app vindt de enphases envoy nog steeds niet (wel de
enlighten met api key). Maar ik wil de twee enphases apart monitoren. Veel
gezocht op mDNS: maar daar ook nog geen oplossing gevonden. Zelfde subnet.
Maar melding blijft: er zijn geen nieuwe apparaten gevonden

Op wo 9 jun. 2021 om 14:53 schreef Diederik Bakker ***@***.***

[2021-06-11 13:13] POfransz commented on #143
Hi Diederik,
I think we misunderstand each other. The connection runs trough the WiFi adapter of the inverter. The IP-adress is known to me.
When I use this in my browser ...a sign-in menu where I get a sort of router menu....appears....for adjusting data or name.
The ...xml does not exist...because I see no files.--I cannot see what is on the adapter.
I contacted my solarpanel supplier and asked

[2021-06-15 14:02] hendrik607 commented on #143
Same here, Inverter is live, XML not found, see images
[http://challenger.zone/diversen/inverter1.JPG](http://challenger.zone/diversen/inverter1.JPG)
[http://challenger.zone/diversen/inverter12JPG](http://challenger.zone/diversen/inverter2.JPG)

[2021-06-15 21:58] DiedB commented on #143
Can you find any production statistics in that web interface?

[2021-06-16 03:55] gooooba opened #152 "Growatt voltage"
Hi,

growatt integration works. Is there any way to control the inverter(change the mode AC source, Charge source?) The controls are available on web interface, so I guess it should be possible.

Other thing is that I'm missing is Voltage readings. This could be used for detecting Grit outage for example.

[2021-06-16 12:16] hendrik607 commented on #143
yes there is [http://challenger.zone/diversen/saj.jpg](http://challenger.zone/diversen/saj.jpg)

[2021-06-17 09:07] POfransz commented on #143
Hi Diederik and Hendrik,
@hendrik - you have the same Webserver version as I have....so the data must be available.
I just received an answer from my solarpanel supplier. That was a dead end...because they do not sell that kind of inverters anymore. But I got an e-mail adress from SAJ. Here the link....mailto:Service.nl@saj-electric.com.
I shall send an e-mail today.

[2021-06-17 09:09] DiedB commented on #143
@hendrik607 Is there by any chance also a `status.json`?

What type of SAJ inverter do you have exactly? I think this is a newer version with a different web interface and API and we should add support for it.

[2021-06-17 09:21] POfransz commented on #143
@DiedB ....Mine inverter is Sununo Plus 2.5K....Installation date 25-9-2017.

[2021-06-17 09:57] hendrik607 commented on #143
hi, i think mine is year 2018, do not know exactle it was once changed.
here is the label [http://challenger.zone/diversen/saj4.jpg](http://challenger.zone/diversen/saj4.jpg)

How should i send this (status.json?) ?
When doing http://<ip>/status.json? i get nothing, also nothing with an extra /status/ in URL

[2021-06-18 17:27] pro-sumer commented on #152
Not sure I understand your request.

I’m using a flow that triggers if the solar panels have not reported for 10 minutes (after sunrise and before sunset).

Would that be useful? (as a workaround?)

Which inverter do you have?

[2021-06-20 18:05] pro-sumer commented on #152
Additionally, I don't see any voltages in Growatt's ShinePhone App or in it's API responses (for my inverter), so I'm afraid I won't be able to help with this.

[2021-06-23 11:14] DiedB commented on #143
I meant `http://ip/i18n/en/status.json` (just replace `xml` with `json` in your URL).

Just paste it here in code tags.

[2021-06-23 11:16] DiedB commented on #151
Je zou kunnen kijken (vanaf een computer of laptop) of je mDNS verkeer kan opvangen.

https://www.tobias-erichsen.de/software/zeroconfservicebrowser.html

Komen de Enphases daarin terug?

[2021-06-23 12:09] hendrik607 commented on #143
gives me nothing (404: The requested file cannot be found.)
http://192.168.2.133/i18n/en/status.xml does give me output;

<m k="statusTittle" v="Device Status"/>
<m k="statistics" v="Statistics"/>
<m k="totalGen" v="Total generated"/>
<m k="totalRunTime" v="Total Running Time"/>
<m k="todayGen" v="Today generated"/>
<m k="todayRunTime" v="Today Running Time"/>
<m k="DCinput" v="DC Input"/>
<m k="P

[2021-06-23 20:37] robkeemink commented on #151
Hij ziet 1 enphase energy (geen details zichtbaar ??), ik heb 2
enphasekastjes, die eerder wel zichtbaar waren voor je app (nog wel ip
adres)

zie bijlage

Op wo 23 jun. 2021 om 13:17 schreef Diederik Bakker <
***@***.***>:

[2021-06-24 07:58] DiedB commented on #151
Bijlages komen niet door als je mail gebruikt, je zult 'm direct even op GitHub moeten posten.

[2021-06-30 15:04] POfransz commented on #143
I have read your comments, Here my listing.
[SAJ-Listing.pdf](https://github.com/DiedB/Homey-SolarPanels/files/6741889/SAJ-Listing.pdf)

[2021-07-08 10:24] JoostBerk commented on #151
Hi Diederik,

Ik loop tegen het zelfde probleem aan met mijn Envoy. Gister toegevoegd in Homey, alles werkte perfect. Vanmorgen zag ik dat het apparaat niet beschikbaar is. Ik heb alles nagelopen en gerestart. De Envoy is gewoon beschikbaar en te pingen in mijn netwerk, maar de app ziet hem niet meer.

[2021-07-15 08:42] milesR68 opened #153 "doesn't work at all"
When I try to create a flow I don't see you app, there's is also no menu to connect to my emphase system.
Thanks you for your help
ps : I think I send you a diagnostic.

[2021-07-23 21:24] github-selguson-se opened #154 "Huawei Sun2000-17ktl-m2"
Hi,
having issues add my inverter:
Huawei Sun2000-17ktl-m2. Is it not supported? If not, is it possible to add it?
Thanks
Andreas

[2021-07-24 12:20] DiedB commented on #153
Enphase seems broken for a lot of users - they probably pushed an update which causes it. Will investigate, but update one of the other Enphase threads here.

[2021-07-24 12:20] #153 closed

[2021-07-24 12:22] DiedB commented on #151
@JoostBerk Zou je eens kunnen kijken wat je binnenkrijgt als je naar `[enphase-ip]/production.json?details=1` gaat?

Heeft de app ooit data opgehaald uit de Enphase? Kun je wellicht achterhalen met Homey Insights door de grafiek te bekijken op de dag dat je de Enphase toevoegde.

[2021-07-24 12:27] DiedB commented on #148
Do you have any programming experience? You can try to change the URL in the SolarMAN driver and run the app yourself. Let me know if it works!

The URL is defined in this file:
https://github.com/DiedB/Homey-SolarPanels/blob/master/drivers/solarman/device.js

[2021-07-24 12:28] DiedB commented on #154
Unfortunately, only the SUN2000L range is supported for now. I haven't found any documentation on connecting to SUN2000 inverters yet. If you do, let me know and I'm happy to implement it.

[2021-07-24 12:28] #154 closed

[2021-07-24 14:52] deBru1n commented on #148
Dear Diederik,

I am having not much programming experience, but know my way around in computers.
So, if you let me know where this driver is located, I can replace it.

Thank you

Met vriendelijke groet, / Kind Regards,

M. de Bruin

From: Diederik Bakker ***@***.***>
Sent: Saturday, July 24, 2021 14:28
To: DiedB/Homey-SolarPanels ***@***.***>
Cc: deBru1n ***@***.***>; Comment ***@***.***>
Subjec

[2021-07-24 18:28] JoostBerk commented on #151
@DiedB Dan krijg ik dit: {"production":[{"type":"inverters","activeCount":5,"readingTime":1627150849,"wNow":20,"whLifetime":417963}],"storage":[{"type":"acb","activeCount":0,"readingTime":0,"wNow":0,"whNow":0,"state":"idle"}]}

Yes de setup heeft precies een dag gewerkt, daarna ga de app aan dat het apparaat niet beschikbaar was. Ik doe het nu direct via you app maar haal de data op via de Enphase

[2021-07-25 08:53] DiedB commented on #151
De app gaat ervan uit dat er een veld `whToday` zit in de JSON output. Die lijkt hier te missen en dat is waar de app op stuk gaat.

Welk model Envoy heb je?

[2021-07-25 10:02] DiedB commented on #151
Net geprobeerd, wat ik net noemde lijkt niet het probleem te zijn. Dan zit het probleem wellicht in de discovery van het apparaat in Homey. Ik heb wat extra logging toegevoegd aan het Enphase-gedeelte van de app.

Zou je alle Enphase apparaten uit Homey willen verwijderen, de app zelf willen verwijderen, en vervolgens https://homey.app/a/it.diederik.solar/test/ installeren en de Envoy koppelen?

V

[2021-07-28 10:22] GuidoHub opened #155 "Add support for Zonneplan ONE inverter"
I would like to have support for zonneplan one. More information can be found in github. [https://github.com/zonneplan](url)

[2021-08-02 17:58] rsimmers commented on #143
I have the same problem, is it solved yet?

[2021-08-02 18:39] DiedB commented on #143
@hendrik607 @POfransz Those are translation files, as far as I can see no production data is in there. @rsimmers Did you find production data in XML format?

[2021-08-04 06:07] rsimmers commented on #143
No nothing. Is it possible to connect Anyway?

René Simmers

[2021-08-04 09:34] DiedB commented on #143
Not without more information. Mind you, I don't have this inverter, and not much public documentation is available. I will only be able to implement this when assisted by someone with quite some technical knowledge who owns one of these inverters.

[2021-08-04 12:36] POfransz commented on #143
I still follow this issue and perhaps can help.
I received from solarpanel supplier the attached file which is the internal protocol from the SAJ inverter

[Modbus-protocol.pdf](https://github.com/DiedB/Homey-SolarPanels/files/6931282/Modbus-protocol.pdf)

[2021-08-04 12:43] POfransz commented on #143
I also got a remark that the software to read the SAJ-inverter is also on github.
Here the link https://github.com/jwillemsen/saj_collector
I hope this will help

[2021-08-04 12:50] DiedB commented on #143
@POfransz ModBUS works via UART, no way to connect that to Homey (unless you would add some hardware on the inverter side, not really possible for the average user). The SAJ Collector you mention is using the same method for fetching production data as the current implementation of this app.

[2021-08-04 12:51] DiedB commented on #143
Maybe, but it would probably be quite hacky and I'm not sure if the interface is consistent across all inverter models. So preferably not.

[2021-08-04 13:56] rsimmers commented on #143
I’ll be glad to help. I have such a converter and what do you need?

Rene

[2021-08-04 16:42] rsimmers commented on #143
I have installeer zonnepanelen and add a Saj device. I files in the richt IP adres but it return that the data is wrong. What can i do?

Rene
________________________________
Van: Diederik Bakker ***@***.***>
Verzonden: Wednesday, August 4, 2021 2:50:55 PM
Aan: DiedB/Homey-SolarPanels ***@***.***>
CC: rsimmers ***@***.***>; Mention ***@***.***>
Onderwerp: Re: [DiedB/Homey-SolarPanels] SAJ inverter

[2021-08-05 11:29] paulusarts opened #156 "g"

[2021-08-05 11:43] #156 closed

[2021-08-05 20:36] github-selguson-se commented on #154
Can this links help you out?

https://forum.huawei.com/enterprise/en/firmware-v100r001c00spc120/thread/745393-100027?page=2
https://github.com/ccorderor/huawei-sun2000-modbus-mqtt

Thanks.

[2021-08-08 22:02] DiedB commented on #154
Do you have the first dongle [here](https://solar.huawei.com/en/download?p=%2F-%2Fmedia%2FSolar%2Fattachment%2Fpdf%2Feu%2Fdatasheet%2FSmartDongle.pdf)?

[2021-08-08 22:35] github-selguson-se commented on #154
Yes, that’s the one connected to my inverter.

Med vänlig hälsning,
Andreas

Skickat från min iPhone

9 aug. 2021 kl. 00:03 skrev Diederik Bakker ***@***.***>:

﻿

Do you have the first dongle here<https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fsolar.huawei.com%2Fen%2Fdownload%3Fp%3D%252F-%252Fmedia%252FSolar%252Fattachment%252Fpdf%252Feu%252Fdatasheet%252FSmartDongle.pdf&data=

[2021-08-09 07:40] DiedB commented on #154
And if you execute a port scan, using `nmap -sC -sV -p502 <inverter-ip>` for example, does it show that the ModBUS port is open? Does this change when you change from a wireless to a wired connection (or vice versa)?

[2021-08-09 10:58] github-selguson-se commented on #154
What I can understand both are opened (cable and WiFi)
See screenshots.

[cid:E37AB7F2-90F5-476F-ADBE-DE0EBDE9B2AA-L0-001][cid:2C997633-B25E-49B4-8FEE-56170274E39F-L0-001]

Med vänlig hälsning,
Andreas

Skickat från min iPhone

9 aug. 2021 kl. 09:40 skrev Diederik Bakker ***@***.***>:

﻿

And if you execute a port scan, using nmap -sC -sV -p502 <inverter-ip> for example, does it show that the ModB

[2021-08-09 10:59] DiedB commented on #154
You need to post the screenshots directly to GitHub, email doesn't work for that.

[2021-08-09 11:05] github-selguson-se commented on #154
![thumbnail_image0](https://user-images.githubusercontent.com/37409960/128697143-a6b5abbf-1c3e-4cf7-9442-ad0e72e349c1.jpg)
![thumbnail_image1](https://user-images.githubusercontent.com/37409960/128697146-170700ba-315e-4dfa-8861-6f7eadcb6b1b.jpg)

[2021-08-09 12:53] DiedB commented on #154
Hmm, interesting, do you know how to forward ports to the outside? I would like to have a look at why the app is not working then, but I would need to debug the ModBUS connection with your inverter.

[2021-08-09 12:59] github-selguson-se commented on #154
Yeah, I think I can arrange that.
Port 502?
Your ip so I can open only against you?
Maybe you can send me a private email for exchange of ipaddress.

Med vänlig hälsning,
Andreas

Skickat från min iPhone

9 aug. 2021 kl. 14:53 skrev Diederik Bakker ***@***.***>:

﻿

Hmm, interesting, do you know how to forward ports to the outside? I would like to have a look at why the app is not working then, bu

[2021-08-09 13:00] DiedB commented on #154
I will, but I can't access your e-mail address from GitHub. Could you post it here (fine to delete directly afterwards)?

[2021-08-09 13:03] github-selguson-se commented on #154
github@selguson.se

[2021-08-10 14:00] HenkN commented on #88
Would be great to have this feature. Especially the total kWh since start. SolarEdge supports this value.

This option is also needed when using the new Energy features of Home Assistant.

[2021-08-14 09:55] nichlaz commented on #137
I am also interested in Ferroamp support!

[2021-08-14 11:22] jampeef commented on #137
Nothing happen here so i just added it to a home assistant docker and then
use the home assistant app in homey. Not optimal at all but get the info

On Sat, Aug 14, 2021, 11:55 nichlaz ***@***.***> wrote:

[2021-08-14 20:30] nichlaz commented on #137
I've tried ha-ferroamp but I can't seem to get it to work. What's the name of the Home Assistant app in Homey (can't find it)?

[2021-08-14 21:44] jampeef commented on #137
Think it's only available in the  homey community store.

https://store.homey.community/

Den lör 14 aug. 2021 22:30nichlaz ***@***.***> skrev:

[2021-08-16 12:07] github-selguson-se commented on #154
Any updates yet?

[2021-08-16 17:45] dennisnlk opened #157 "Not working on Omnik s/n 190****"
The app is not working on s/n 1902073764. I get the message:
Error: Network request failed

Can this maybe be solved?

[2021-08-18 10:43] DiedB commented on #148
I don't think addressing the new SolarMAN portal is going to work, I prefer implementing a local connection. For that, several issue threads are open currently.

[2021-08-18 10:43] #148 closed

[2021-08-18 10:55] DiedB commented on #154
I have taken a look. Seems like we're experiencing the same issues here, like other users in the other Huawei issue thread. SUN2000L inverters with integrated WiFi seem to work fine, but any inverters that need a smart dongle to connect are not responding to ModBUS packets on most firmware versions (although they do publish the corresponding port).

Do you know what firmware version your smart don

[2021-08-18 11:00] github-selguson-se commented on #154
The dongle firmware is:
V100R001C00SPC120
I will check if i can upgrade it. I will come back soon.

BR
Andreas

________________________________
Från: Diederik Bakker ***@***.***>
Skickat: den 18 augusti 2021 12:55
Till: DiedB/Homey-SolarPanels ***@***.***>
Kopia: github-selguson-se ***@***.***>; Author ***@***.***>
Ämne: Re: [DiedB/Homey-SolarPanels] Huawei Sun2000-17ktl-m2 (#154)

I have taken a

[2021-08-18 11:05] github-selguson-se commented on #154
I can find the release notes but not the binaries or find them in Fusion Solar Portal for upgrade. So im a bit locked right now.

BR
Andreas

________________________________
Från: Diederik Bakker ***@***.***>
Skickat: den 18 augusti 2021 12:55
Till: DiedB/Homey-SolarPanels ***@***.***>
Kopia: github-selguson-se ***@***.***>; Author ***@***.***>
Ämne: Re: [DiedB/Homey-SolarPanels] Huawei Sun2000-1

[2021-08-18 11:16] DiedB commented on #154
[This](https://community.home-assistant.io/t/integration-solar-inverter-huawei-2000l/132350) thread also seems to contain lots of information on firmware and compatibility. Seems like many users experiencing the same issues. Someone also mentions that SPC123 would be released in the next days and that version should provide a fix.

[2021-08-18 11:22] github-selguson-se commented on #154
I see!
I probably have to wait than.
I atm running SPC120 on donlge and SPC135 on inverter.

BR
Andreas

________________________________
Från: Diederik Bakker ***@***.***>
Skickat: den 18 augusti 2021 13:16
Till: DiedB/Homey-SolarPanels ***@***.***>
Kopia: github-selguson-se ***@***.***>; Author ***@***.***>
Ämne: Re: [DiedB/Homey-SolarPanels] Huawei Sun2000-17ktl-m2 (#154)

This<https://emea01.s

[2021-08-18 17:09] tuomaskilpimaa opened #158 "Problems with huawei sun2000"
I try to connect homey to Huawei inverter, but when I fill the right ip, comes message "error: connect ECONNREFUSED 192.168.xx.xxx:502. What I can do?

[2021-08-18 18:24] DiedB commented on #158
I would need the following information to help you further:
- What (exact) inverter model do you have?
- Is it connected via WiFi or ethernet?
- Do you use a Smart Dongle (SDongleA-05) to add connectivity to the inverter?
- What firmware versions are running on the inverter and (if applicable) the Smart Dongle?

[2021-08-19 04:34] tuomaskilpimaa commented on #158
Hi, answers in blue

Lähettäjä: Diederik Bakker ***@***.***>
Lähetetty: keskiviikko 18. elokuuta 2021 21.25
Vastaanottaja: DiedB/Homey-SolarPanels ***@***.***>
Kopio: tuomaskilpimaa ***@***.***>; Author ***@***.***>
Aihe: Re: [DiedB/Homey-SolarPanels] Problems with huawei sun2000 (#158)

I would need the following information to help you further:

  *   What (exact) inverter model do you have? SUN

[2021-08-19 08:05] tuomaskilpimaa commented on #158
And if you need. The homey version is 7.1.1

Sent from my Galaxy

-------- Original message --------
From: Tuomas Kilpimaa ***@***.***>
Date: 8/19/21 07:34 (GMT+02:00)
To: DiedB/Homey-SolarPanels ***@***.***>, DiedB/Homey-SolarPanels ***@***.***>
Cc: Author ***@***.***>
Subject: VS: [DiedB/Homey-SolarPanels] Problems with huawei sun2000 (#158)

Hi, answers in blue

Lähettäjä: Diederik Bakker ***@*

[2021-08-19 10:05] DiedB commented on #158
Thanks, that's all I needed! There are several users that do not get this combination working, mainly because the Smart Dongle doesn't behave the way it should on all firmware versions. Do you have a way to upgrade the firmware of the Smart Dongle, maybe by contacting your installer?

A new firmware version for the Smart Dongle will be released soon, ending in `SPC123`, which should solve the prob

[2021-08-19 10:05] #158 closed

[2021-08-19 13:51] tuomaskilpimaa commented on #158
Ok thanks, hopely new firmware solve the problems :)

Sent from my Galaxy

-------- Original message --------
From: Diederik Bakker ***@***.***>
Date: 8/19/21 13:05 (GMT+02:00)
To: DiedB/Homey-SolarPanels ***@***.***>
Cc: tuomaskilpimaa ***@***.***>, Author ***@***.***>
Subject: Re: [DiedB/Homey-SolarPanels] Problems with huawei sun2000 (#158)

Thanks, that's all I needed! There are several users

[2021-08-25 10:32] digimaster365 opened #159 "CLI install of 4.5.1 does not work"
Installing 4.5.1 from the Homey app store and adding an inverter device works just fine, but when installing 4.5.1 from Github with CLI and adding a new device, the app displays 'unknown error - invalid driver'. No code modifications were done.

[2021-08-25 10:49] DiedB commented on #159
Do you have the latest version of the Homey CLI? Does it mention which driver is invalid anywhere?

[2021-08-25 12:14] digimaster365 commented on #159
Using latest, no other output.

[2021-08-28 18:08] JorgenSeemann commented on #78
I have a SUN2000-10KTL-M1
sDongle spc119
Unable to connect. Neither wifi or cable :/
Puzzled about fw lvl. Seems the link to huawei talks about spc121?

[2021-08-30 11:45] DiedB commented on #78
Yeah, they also mention SPC123 on the sDongle should fix the issues, but I don't know if it has been released yet.

[2021-09-01 09:38] github-selguson-se commented on #154
Hi,
patching Dongle with SPC123 at the moment.
Up for testing for you in few minutes.

BR,
Andreas

Skickat från min iPhone

18 aug. 2021 kl. 13:22 skrev Andreas Selguson ***@***.***>:

﻿
I see!
I probably have to wait than.
I atm running SPC120 on donlge and SPC135 on inverter.

BR
Andreas

________________________________
Från: Diederik Bakker ***@***.***>
Skickat: den 18 augusti 2021 13:16
Till

[2021-09-01 10:09] DiedB commented on #154
Great, curious to see whether this is going to work. Would add support for Huawei to this app for lots of users.

[2021-09-01 12:30] JorgenSeemann commented on #78
So today i recieved v126 for the sDongleA and v136 for the inverter.
Both now succesfully upgraded.
But when I try to connect my homey i get "Error: Timed out".
I can ping the IP, and do a telnet to port 502 (but gets no response), even the sDongleA is connected to wifi :/

[2021-09-07 10:55] github-selguson-se commented on #154
Hi, did you figured out something?

Br
Andreas

________________________________
Från: Diederik Bakker ***@***.***>
Skickat: den 1 september 2021 12:09
Till: DiedB/Homey-SolarPanels ***@***.***>
Kopia: github-selguson-se ***@***.***>; Author ***@***.***>
Ämne: Re: [DiedB/Homey-SolarPanels] Huawei Sun2000-17ktl-m2 (#154)

Great, curious to see whether this is going to work. Would add support for Hu

[2021-09-12 13:57] JorgenSeemann commented on #78
Ahhh. I guess the problem is that my inverter isnt a "L" but a SUN2000-10KTL-M1

Well. Fingers crossed for support for these also being added. If I can help by providing access or equal just le me know :) :)

Cheers
Jørgen

[2021-09-15 11:27] mcrbrauers opened #161 "Solar Edge werkt niet"
Ik probeer mijn solar edge toe te voegen.
API key wordt niet geaccepteerd.
Fout: Error: Inloggegevens onjuist

Gelezen bij een eerdere issue dat er niet op opslaan was geklikt. => Dat heb ik wel gedaan.
Ook geprobeerd nieuwe Key aan te maken en wederom op opslaan gedrukt. => helpt niet.

Kan u helpen mijn solar edge aan Homey te verbinden?

[2021-09-15 12:29] mcrbrauers commented on #161
Geen idee hoe....... maar nu werkt het wel.

[2021-09-15 12:29] #161 closed

[2021-09-29 08:53] hmook opened #163 "Connection with eSolar AIO3"
Hi is it posible to connect with my eSolar AIO3 interface? When I try to connect with my SAJ inverter which is connected via eSolar AIO3. The Homey App gives me an error message telling me I've entered a wrong IP address.

[2021-09-29 19:11] drieshooghe commented on #163
For the WiFi D module, when the inverter isn't producing any energy, the local API goes offline. Perhaps the same goes for the AIO3 module.

[2021-09-29 19:15] drieshooghe commented on #143
For the WiFi D module, which communicates real time data through http://[IP]/status/status.php I've created a PR: https://github.com/DiedB/Homey-SolarPanels/pull/164

[2021-09-30 09:02] pendragon1 opened #165 "Too many requests Omnik"
Hi,

I’m using Omnik and I always used to get the information via de pvoutput option.I tried the direct Omnik inverter option. Works very well in Homey, but it is accessing the inverter every few seconds. This breaks the connection I have to send the pvoutput information from my NAS. Is it possible to limit the homey access to every 30 seconds or so to give the inverter enough time to respond to m

[2021-09-30 16:36] rsimmers commented on #143
Does this mean i can try it with my homey?

René Simmers

[2021-10-24 08:47] mhoogenbosch opened #166 "Solarman doesn't report production anymore"
Recently Solorman have disabled their old site.

New site: https://home.solarmanpv.com/

Let me know how I can help.

[2021-10-27 19:31] Lexan76 opened #167 "Homey Bridge support?"
Hej
Any support for Homey Bridge planned?

[2021-10-28 07:55] Tequila329 opened #168 "Solaredge - connection problems"
Hi,

since a few days, my Solarpanels reports the problem :
Device Unavailable
Error retrieving data (429)

Sometimes restarting the app helps, but since today the device gets available again, but with an old value.

Maybe you can have a look?

Thanks and best regards

[2021-10-31 00:19] DiedB commented on #168
Could you send diagnostic reports? The app settings should give you an option to do that.

[2021-10-31 05:29] Olof007 commented on #168
4ee97549-203a-4501-8706-e611b1824c9d

[2021-10-31 05:30] Olof007 commented on #168
4ee97549-203a-4501-8706-e611b1824c9d

[2021-10-31 05:55] Tequila329 commented on #168
b379fb12-ae87-42de-84ec-2e9ec281a948

[2021-10-31 14:34] FonsdeRond opened #169 "App lost after power outage"
This month there were two power failures in our neighborhood.  Both times the app appeared to be lost. I have to re-install the app and check all the flowcards. As I'm writing this, re-installing is not possible. I'll try later again.
The app should be able to withstand a power outage.
I use the Solax converter on a Homey.

[2021-10-31 14:57] DiedB commented on #168
Thanks for the quick replies! I think I know what is going wrong here.

Could you update your app to the latest test version on https://homey.app/a/it.diederik.solar/test/? Just follow the link and install it from there.

I cannot guarantee that the upgrade will go smoothly, please let me know if any errors occur. If they do, remove your existing SolarEdge inverter from Homey and add it again thro

[2021-10-31 15:00] DiedB commented on #167
I'm looking into this. It will take a few weeks at least, because the app will first need to be re-implemented in Apps SDK v3. I also need to work together with Athom to be allowed to publish to Homey Cloud, as I am not going to pay for access. Lastly, I might need a Bridge myself in order to test the app there.

[2021-10-31 15:01] DiedB commented on #113
Hey - I am working on an SDK v3 implementation. Current test version supports SolarEdge, so feel free to try and report back.

https://homey.app/a/it.diederik.solar/test/

[2021-10-31 15:02] Olof007 commented on #168
You are also very quick! I have installed the beta without issues, disabled temp and interval at 20. Now I have to monitor if all stays stable. Let you know after a view days.
Already thanks.

[2021-10-31 15:04] DiedB commented on #168
@Olof007 keep in mind that it might still break today (your errors are caused by rate limits and those reset daily). If it breaks tomorrow, I'd like to know!

[2021-10-31 15:29] chrisboer commented on #166
Same issue here

[2021-10-31 18:59] Lexan76 commented on #167
Nice, i can be a beta tester for fronius 😁

Den sön 31 okt. 2021 16:00Diederik Bakker ***@***.***> skrev:

[2021-10-31 20:41] hanshoevenaars opened #170 "Trannergy not connecting in app"
Got the right mailadress and password and id. Trannergy changed there website few weeks ago. Maybe this is the problem? Anyone a idea?

[2021-10-31 21:32] DiedB commented on #169
Does the Solax Cloud show data? Can you create diagnostic report the next time it happens (before re-pairing)?

[2021-10-31 21:33] DiedB commented on #167
I don't think Fronius is going to work with the Homey Bridge, as Athom doesn't allow apps to make network connections to local devices. The only way to support Fronius on Homey Bridge would be to connect to some cloud-hosted API, but I'm not sure if Fronius provides one.

[2021-10-31 21:37] DiedB commented on #163
Does this work with the latest version?

[2021-10-31 21:38] #151 closed

[2021-10-31 23:17] DiedB commented on #170
Does #119 help?

[2021-10-31 23:17] #170 closed

[2021-11-01 05:55] hmook commented on #163
Sorry for the late reply, I’ll try to connect again later to see if I am able to connect when producing power.

[2021-11-01 08:17] hmook commented on #163
No seems like also when producing power I cannot connect.

[2021-11-01 09:20] hanshoevenaars commented on #119
I am sorry to say the old monitoring portal is not working anymore. I have the same problem. I can not log in (Error: could not find that PairSession) is the message I get.

Sorry guys

[2021-11-02 09:20] FonsdeRond commented on #169
Diederik, thanks for the swift reply. Without interruption I've been
receiving data on my mobile through an app especially for the Solax
converter. So I conclude data is available in the cloud.

Yesterday evening the tile in Homey reported an error 'Error retrieving
data (Error: this sn did not access!', but in the morning it was
functioning normal. At this very moment it is receiving data. Finger

[2021-11-02 11:13] DiedB commented on #169
Is the entire app uninstalled, or only the device removed? That is really strange.

Does that error pop up every evening and/or night?

[2021-11-02 11:14] DiedB commented on #169
You can create a diagnostic report through the Homey Settings screen -> Apps -> Solar Panels -> Send diagnostic report. Only do this when you are experiencing errors, otherwise it is not really useful.

[2021-11-02 12:44] FonsdeRond commented on #169
The device (the tile) is still there, but in error. The X-symbol (for
Solax) for instance has disappeared. But the app is not visible anymore
(the only one). When I re-install the app it connects to the device and the
flows work without a problem.

Fons de Rond
+31 (0) 636 575 676

Op di 2 nov. 2021 om 12:13 schreef Diederik Bakker ***@***.***

[2021-11-02 12:46] DiedB commented on #169
Ah, that makes more sense and that should be investigated. Will look into it.

[2021-11-02 15:38] Olof007 commented on #168
Stable so far. I run also the stable app version. I tried the exp.version but was not longer able to add my SolarEdge panal's (after deleting them).

[2021-11-02 15:39] DiedB commented on #168
That the stable version works doesn't surprise me, that is the old one. The experimental one should be working. Could you try again (I've made some updates). If it doesn't work, can you post the error you receive?

[2021-11-02 15:48] DiedB commented on #168
Was it broken before deleting and re-adding?

[2021-11-02 15:50] Olof007 commented on #168
No, that was the strange thing. In the 'old' version it was also stable the last couple of days. I saw there was an update..

[2021-11-02 15:51] DiedB commented on #168
That's how it is intended to work, otherwise it is going to break for a lot of users once I make the experimental version stable.

[2021-11-04 12:32] quahfamili opened #171 "Huawei Sun2000l suddenly stop working"
Hi,
After the recent update. Huawei inverter is not working.

[2021-11-04 12:33] DiedB commented on #171
What version of the app are you using? If you are on the test version (5.x), please install the stable version from the Homey App Store.

[2021-11-04 14:51] quahfamili commented on #171
Hey thanks I reinstalled the app and it works. Tks

[2021-11-04 14:51] #171 closed

[2021-11-04 22:11] DiedB commented on #101
Could you test https://homey.app/a/it.diederik.solar/test/ and let me know if Tigo keeps working?

[2021-11-05 18:10] Allram commented on #101
It seems to work as usual with version 5.0.19

[2021-11-06 12:51] Tequila329 commented on #168
I updated also to the test version, delete the device and reconnect it with a new API key. Still the same issue.
I tried to set the interval to 20min, it say "saved" but when opening the details again its set to 15min again.

[2021-11-06 13:47] mhoogenbosch commented on #166
Same for me, no issues with CLI installation either. Just let me know.

[2021-11-06 13:49] mhoogenbosch commented on #88
There is a Power by the Hour app too. This provides this information just like suggested. Just a thought.

[2021-11-09 11:57] DiedB commented on #88
@HenkN The beta version exposes the total production for SolarEdge systems.

I will add the values to the app where APIs supply them. However, I'm not going to infer the total energy produced from power values. For that, the Power by the Hour app suffices.

[2021-11-09 11:57] #88 closed

[2021-11-09 12:02] DiedB commented on #166
@mhoogenbosch Could you provide me with an app key and app secret, as described in the OpenAPI document? Just message me in private through slower_04_machete@icloud.com

[2021-11-09 12:06] DiedB commented on #168
@Tequila329 Strange, seems to work fine for me. Do you press the checkmark at the top right of the screen after setting the interval?

Are you using other applications that are using your SolarEdge API key? If not, just wait a day and it should start (and keep) working, as you already might have experienced.

[2021-11-09 12:18] Olof007 commented on #168
Update: still stable, no issues occured after new version

[2021-11-09 13:44] chrisboer commented on #166
@DiedB I think you have to apply for that

1.2 Access Process
1. Register at SolarMAN 3.0 and SolarMAN Business
2. Register as SOLARMAN developer (Contact our sales)
Create APP, generate APP_ID and APP_SECRET, then submit
3. Develop and test according to documents
4. Join with interface with

[2021-11-09 13:59] mhoogenbosch commented on #166
I just e-mailed info@solarmanpv.eu, let's see what they can do to help. It unfrightens me when they tell us to contact the 'sales' department in order to get the developer account.

[2021-11-09 14:29] chrisboer commented on #166
I already send a request 9 days ago when I posted my first issue on this ;-)  Still no answer

[2021-11-14 10:29] Dqsp commented on #166
Rond 15 oktober zag ik op de Solarman portal dat ik 2 sites had: 1 met ID NLDN20xxxxxxxx30 en NLDN20xxxxxxxx33. Per 15-10 (definitieve afsluiting data Omnik) was de 30 leeg en staat de data bij 33. Ik kan alleen geen nieuwe app meer toevoegen in Homey met de nieuwe ID omdat er na x tijd een timeout plaatsvind. Site is up en ontvangt gewoon data van mijn Omnik inverter. Ideeën?

[2021-11-18 19:07] nederlands-gustav opened #172 "Neteco"
Is it possible for you to integrate Huawei NetEco connected solar inverters from Huawei (https://forum.huawei.com/enterprise/en/communicating-with-neteco-through-an-openapi-user/thread/512431-100027)

Brg Gustav

[2021-11-19 10:36] Ambix77 opened #173 "Installation issue: cannot destructure property ...."
Hello,
since a week I had a connection issue between my Huawei solar panels. I removed the connection and tried to reconnect but still not working.

So I decided to delete the app from my Homey Pro and try to reinstall it. When I click on install app on my phone I get the error:
"Cannot destructure property 'baseUrl' of 'e' as it is undefined."
In the browser on my pc I just get "e is undefined"

[2021-11-23 12:46] timyboyb opened #174 "Trannergy and Solarman login issues"
Hello,

I try to add my PV inverter by diffrent accounts but none are working. I have a Trannergy SGN5400TL connected with an Solarman logger. I tried the details from my Trannergy account and the Solarman account but both don't work. Solarman gives a 30000ms error. the trannergy sends a reason: undefined.

[2021-11-27 18:45] hmook commented on #163
Kinda found the issue. The AIO3 module doesnt create a webserver to read out locally. Power data is directly pushed to the eSolar Portal at https://fop.saj-electric.com/ . So I cannot connect to the unit locally but have to use the external API. Is this possible in this HomeyApp?

[2021-11-29 19:21] keitje commented on #167
Hi, I have an Omnik solar converter and a Homey Bridge. I'm also very interested in the app for the solar panels. If you need a beta tester you can message me if you want!

[2021-11-30 00:02] DiedB commented on #167
Omnik is not supported yet (and probably not going to be supported as only local connection will be possible) but the app beta is available for Homey Bridge: https://homey.app/nl-nl/app/it.diederik.solar/Zonnepanelen/test/

[2021-12-01 11:02] LeoKesler commented on #166
@chrisboer @mhoogenbosch , I got my app_id and app_secret sending an email to customerservice@solarmanpv.com .

They will ask some questions about your identity, if you are a business, distributor, installer, individual...   Why you will need the open api, if you have website...

[2021-12-01 11:04] mhoogenbosch commented on #166
I've just emailed them.. They haven't responded to my request per web. Thans for letting us know!

[2021-12-01 14:46] chrisboer commented on #166
@LeoKesler Thanks for your info, we (me and @mhoogenbosch) were also on this road but apparently they did not look into web requests.

[2021-12-01 23:41] DiedB commented on #163
The external API is not meant for public use. While it would technically be possible, building and supporting it is difficult, especially because I don't have an account myself.

[2021-12-01 23:42] DiedB commented on #174
See #166

[2021-12-01 23:42] #174 closed

[2021-12-02 09:28] chrisboer commented on #166
I just got my API id and KEY and @DiedB I will send them to you so you can test with them will also send my credetials.

[2021-12-02 10:01] mhoogenbosch commented on #166
They just have responded to my email too. They couldn't find my creds, so I supplied them with it.. so any moment now I can give access too.

[2021-12-03 09:08] mhoogenbosch commented on #166
My api key just got supplied. @DiedB what do you need from me to continue?

[2021-12-05 15:35] milesR68 opened #177 "issue to connect enphase envoy"
Hi,
First of all thank you for the developper to create this app for homey.
I got an issue with my connection with envoy system :
"Error retrieving data (FetchError: request to http://192.168.1.72:80/production.json?details=1 failed, reason: connect ETIMEDOUT 192.168.1.72:80)".
Well, I guess there is a a problem of connection but I don't see the point
Thank you for your help.

[2021-12-07 09:44] OverlordWolff opened #178 "Linking Trannergy to Homey doesn't work since portal update"
When I try to integrate my Trannergy inverter into Homey there is always an error since the Trannergy Portal was updated. I haven't changed anything in my credentials.

[2021-12-07 12:48] DiedB commented on #178
Thanks for the report. Will have to deprecate the driver given that we have no alternative way to connect to Trannergy at this moment.

[2021-12-08 13:22] DiedB commented on #178
Also, I would remove that screenshot, given that it contains a hash of your password.

[2021-12-08 13:30] OverlordWolff commented on #178
Thanks! I didn't realize that. Will you coment on this thread when there is any update?

[2021-12-10 10:51] VederJay opened #179 "Huawei - alternative (non-local) approach using Kiosk mode"
There's a lot written about connecting directly to Huawei inverters in [issue 78](https://github.com/DiedB/Homey-SolarPanels/issues/78). Once that gets stabilised, it would be the preferred approach. However we don't seem to be there quite yet.

Here I would like to propose a - hopefully much simpler - alternative approach. On the "fusionsolar" website of Huawei, which the user can log in to, ther

[2021-12-13 08:07] josbuero commented on #78
I think here a a good Pooint to get things work?

From here: https://forum.huawei.com/enterprise/en/firmware-v100r001c00spc120/thread/745393-100027?page=2

[2021-12-14 19:36] DiedB commented on #78
This is an important comment, but the Homey app already implements a short sleep command. This was indeed necessary for other Huawei inverters. However, I presume your line of inverters does not expose a ModBUS TCP endpoint.

[2021-12-18 13:10] scrub29 opened #180 "2 solaredge converters in Homey pro"
HI Is it possible to have two solaredge installed in Homey? i do get an error when I try to install the second one. could not find that pair session.

thanks

[2021-12-20 15:16] DiedB commented on #180
Could you try the test version of the app? https://homey.app/nl-nl/app/it.diederik.solar/Zonnepanelen/test/

[2021-12-20 15:31] chrisboer commented on #166
@DiedB do you need something additional for me or can we help with testing ?

[2021-12-20 16:17] scrub29 commented on #180
Hi Diederik,

Zojuist geprobeerd ik krijg deze melding;

Klopt het dat ik geen id hoef in te geven?

Met vriendelijke groet,

Manon en Eugène

[2021-12-20 16:37] DiedB commented on #180
Zou je het direct op GitHub kunnen posten? Kan het zo niet zien.

Klopt inderdaad dat een ID niet meer nodig is, die wordt automatisch opgehaald.

[2021-12-20 16:43] scrub29 commented on #180
![IMG_2130](https://user-images.githubusercontent.com/96340802/146802074-8c2fd2c0-2999-4658-a674-a9c0130fb751.PNG)

[2021-12-20 16:45] DiedB commented on #180
Werkt de eerste inverter wel?

Weet je heel erg zeker dat die API-key klopt? Anders moet je dat even dubbelchecken met je installateur.

[2021-12-20 16:47] scrub29 commented on #180
OKe ik ga morgen weer bellen, dank je

[2021-12-20 16:48] #180 closed

[2021-12-20 16:48] scrub29 commented on #180
kunnen er wel 2 omvormers op?

[2021-12-20 16:49] DiedB commented on #180
In principe moet dat geen probleem zijn. Afhankelijk van je installateur zijn het twee aparte 'installaties', dus twee API-keys, of zit alles onder één API-key. Maar als dat zo was had je het gemerkt bij het installeren van het eerste systeem in de nieuwe versie van de app, dan kun je meerdere inverters kiezen.

[2021-12-20 16:50] scrub29 commented on #180
het zijn twee api keys

[2021-12-20 16:52] DiedB commented on #180
Dan zijn het losse 'installaties', en zal een van de keys niet kloppen. Gaat vaak fout omdat na het genereren van de API-key niet op 'opslaan' wordt geklikt door de installateur.

[2021-12-20 21:56] DiedB commented on #166
I don't have any leftover time for the foreseeable future - other things unfortunately take priority. Will let you know when I find the time to work on this.

[2021-12-20 21:59] DiedB commented on #179
Thanks for documenting this! However - I do not have much time for the foreseeable future. Also, I want to get this app to a point where it requires a very low amount of maintenance. That means only implementing stuff that is stable and foolproof. I'm not sure about the latter requirement using this method - it will at least not be part of the Homey Cloud version of the app because of pairing comp

[2021-12-20 22:00] DiedB commented on #177
Could you re-pair the device?

I'm pretty sure this is not the app but something in your local network, and unfortunately I can't really help you with that. Make sure Homey is connected to the same router as your Envoy.

[2021-12-20 22:00] #177 closed

[2021-12-21 17:12] mhoogenbosch commented on #166
Thanks for your response.. if there is anything we / I can do to help, more than willing to do so. Hopefully you'll sort things so you can find some time. If not, to bad for us.

[2021-12-21 20:22] scrub29 commented on #180
Hoi Diederik,
Het klopte de key was niet opgeslagen! Nu werkt het mijn dank is groot.
Gr Eugene

[2021-12-22 12:41] jordyk commented on #167
Heey @DiedB bedankt voor de testversie. Ik zie dat de Ginlong Solis wel voor de Homey Pro beschikbaar is maar nog niet voor de Homey Bridge in de testversie. Zou deze kunnen worden toegevoegd?

[2021-12-22 13:51] DiedB commented on #167
@jordyk Ik ben bezig om drivers over te zetten naar de nieuwe versie. Daarbij moet ik wel zeggen dat ik minder tijd heb dan ik vroeger had en dat integraties die in het verleden niet heel stabiel of gebruiksvriendelijk bleken te zijn (en dus tot veel hulpvragen leiden), de nieuwe versie wellicht niet gaan halen. Hoe die afweging voor Ginlong/Solis valt kan ik nog niet precies zeggen.

[2021-12-23 13:45] Chopper8 commented on #155
Is there any news in this one? Would be nice!

[2021-12-30 21:16] handtema commented on #137
I think I would love ferroamp support also. I can open up ports for you to my Energyhub if its still noone who has done that.

I also have the modbus + local api documentation if needed.

[2022-01-18 08:53] OverlordWolff commented on #178
Is there already a solution?

[2022-01-18 23:45] Koymoreno1 opened #181 "Growatt"
Does not work with Growatt SPH 300-600.  Can it be added?

[2022-01-20 21:38] pro-sumer commented on #181
Unfortunately there's no documented Growatt API.

I implemented support for simple Growatt inverters like my own by investigating the network traffic.

More advanced inverters seem to use a different API/protocol, so we probably need the help of owners of such devices who can add support for them (or at least research the protocol).

[2022-01-22 12:19] #108 closed

[2022-01-22 12:20] #86 closed

[2022-01-22 12:29] #163 closed

[2022-01-22 14:25] Koymoreno1 commented on #181
Hola,

¿Que debo hacer? No le entiendo muy bien y no se que necesita exactamente.
Sin embargo, le agradezco el interés.

Espero su respuesta, saludos
Juan Moreno

El sáb., 22 ene. 2022 13:36, Diederik Bakker ***@***.***>
escribió:

[2022-01-24 16:02] follox opened #183 "Not able to connect to PVOutput"
Hi,

I am trying to upload data to PVOutput via Homey, and I am only receiving an error when trying to login to my PVOutput userdetails,
I have checked all the information and it is correct so not sure what is causing the issue to log in.
![image](https://user-images.githubusercontent.com/43533933/150818570-0f1c0c62-e593-401f-8dc5-662babcf878d.png)

[2022-01-24 16:04] DiedB commented on #183
Does this issue occur with the test version of this app?

You can install it through https://homey.app/a/it.diederik.solar/test/

[2022-01-24 16:08] follox commented on #183
Wow, that was a very quick reply.
It works with that version, thank you very much :)

[2022-01-24 16:12] #183 closed

[2022-01-25 14:12] pro-sumer commented on #181
I understand, but I'm not sure I have the skills/time to do that now.

What other options would we have?

[2022-01-31 08:45] nauti23 commented on #78
Hey @DiedB first: thanks for you work – i'm trying to get my homey pro connected with my huawei sun2000 6ktl m1
- with wifi, static ip portscan (502 open) _ timeouts...
- in the settings of the inverter we can activate MODBUS over TCP als limit or not limit the client IP, i think this setting is right
- there is a setting called something like "parallel communication" this is set to "NA" and could

[2022-02-16 08:51] improlinus opened #184 "GoodWe SEMS additional data"
Hi!

Thanks for a really good app!

I am using GoodWe SEMS device.
It would be super useful for me to get some additional data from the app, like:
Total Generation (kWh)
Current load (W)
Meter (selling/buying) (W)

Thank you and take care!

[2022-02-17 11:10] JaccoHeikoop commented on #167
@DiedB Ik heb de Homey Bridge een Hosola Inverter (Omnik) Raspberry Pi pusht data naar PVoutput. Werkt perfect met jouw test versie. Heb wel een vraag in de App kan je Extended Fields aangeven (Field 7-12) Je geeft de mogelijkheid om de waarde van een specifiek veld aan te geven voor Batterij percentage. Kun je dit ook al een Blank Veld (zodat je zelf aangeeft wat voor een veld is) met de daarbij

[2022-02-19 00:34] DiedB commented on #167
@JaccoHeikoop technisch is het waarschijnlijk mogelijk, maar het wordt wel een beetje complex (met dito onderhoud) terwijl ik verwacht dat 99% van de Homey-gebruikers dit niet gebruikt. Ik denk ook dat Athom dit niet heel gebruiksvriendelijk acht terwijl dat de insteek is van Homey Bridge. Maar dank voor de suggestie!

[2022-02-21 14:47] DiedB commented on #167
Valt tegen, Homey moet weten wat voor type data het is. Vrije tekst is niet zomaar mogelijk, en zou ook betekenen dat je geen berekeningen kunt baseren op de data. Om dit fatsoenlijk in te bouwen moet ik best wel wat logica gaan implementeren en dat doe ik liever niet want de app wordt er niet onderhoudsvriendelijk van.

[2022-02-21 14:55] JaccoHeikoop commented on #167
Snap ik. Dank voor je antwoord. App werkt trouwens prima!

Gr Jacco

Verstuurd vanaf mijn iPhone

[2022-02-27 10:21] chrisboer commented on #143
@DiedB I have 2 of these SAJ and I also have Solarman so all of my solarpanels can not be monitored anymore. I can help you setup the SAJ because it worked perfectly with previous versions.

[2022-02-27 10:26] chrisboer commented on #143
If I connect to my local network I can see you can readout param.js

var xmlhttp_par;
function display_par()
{
if(xmlhttp_par.readyState==4&& xmlhttp_par.status==200)
{
var xmlDoc=xmlhttp_par.responseXML.documentElement;

with(document){
getElementById("v-grid").value=xmlDoc.getElementsByTagName("v-grid")[0].childNodes[0].nodeValue+" V";
getElementById("i-grid").value=xmlDoc.getElementsByTagName("

[2022-03-04 12:12] murreen opened #185 "Support for Sungrow"
Hi
I have a Sungrow inverter.Any plans of adding it to the app?

[2022-03-05 15:55] pro-sumer commented on #181
Your code is released under GPL, so I am allowed to make a personal/private fork that only adds my Growatt inverter?

[2022-03-05 19:56] pro-sumer commented on #181
What happens if you release this version with less supported inverters to the production channel?

Can people stick to the old version or will they lose this functionality (and Insights data)?

[2022-03-07 09:44] DiedB commented on #181
That's a good question, and because the effects are yet unknown to me, I am holding off on releasing a new version for now outside of the beta channel. I think I'll implement 'dummy' drivers to replace drivers that are being phased out. These would then give a deprecation message and a warning on the device, but would prevent any strange behaviour and would cause insights data to be retained.

[2022-03-07 09:44] DiedB commented on #181
Absolutely, and if you want to make and release a Growatt driver based on my code, feel free to do so.

[2022-03-07 09:54] DiedB commented on #185
Might be possible, but needs more research. Sungrow seems to support Modbus, but would need to know if this implementation is the same for all inverters. Also, need to know whether there is enough interest to implement this, if it turns out to be possible. Please thumbs up the original issue comment if you need Sungrow support as well and let me know what model of inverter you have.

[2022-03-08 10:35] triple-it opened #186 "Envoy mDNS-SD"
Hi,

Great APP! Where is the Donate button?

Is the following URL always available without installer/enphase password?
http://192.168.178.142/api/v1/production
(Envoy-S Standard)

Because I would like to build some flows when the PV is producing.
E.g. start charging IPADs via Shelly's only when there is SUN.

Currently the Homey Envoy defaults to IP address 169.254.120.1:80/production.json?defails

[2022-03-08 11:29] DiedB commented on #186
Thanks for your donation, I really appreciate that!

The app tries to discover the Enphase in your network through mDNS-SD. If I read your issue correctly, I think this process does not go well given your network configuration. Did it work previously, or does it pair and then starts giving errors immediately? Do you have multiple subnets? Could `169.254.120.1` be a router? Don't worry if you don't

[2022-03-08 12:36] triple-it commented on #186
Hi,

I will troubleshoot mDNS-SD then.

It is a simple architecture with a Ziggo ConnectBox as WIFI, and a Cisco ws-3560CX as switch.
The Homey APP will go over Wifi, via the switch towards the Envoy (1 vlan, 1 subnet: 192.168.178.0/24).

I thought mDNS-SD would work standard in that scenario... maybe not.

But I will inspect both devices if they are capable of multicasting or setting some mDNS se

[2022-03-08 16:11] yvoren opened #187 "Solaredge SE3000H Inverter API"
Hello,

Good evening,  Where can I get the system ID and API key for my Solaredge SE3000H Inverter ?

Thanks in advance

[2022-03-08 19:53] triple-it commented on #186
Over wifi (from macos), so mDNS-sd is not (directly) the issue?

 % dns-sd -B _enphase-envoy._tcp
Browsing for _enphase-envoy._tcp
DATE: ---Tue 08 Mar 2022---
20:44:36.790  ...STARTING...
Timestamp     A/R    Flags  if Domain               Service Type         Instance Name
20:44:36.792  Add        2   6 local.               _enphase-envoy._tcp. envoy
^C
 % dns-sd -Q envoy.local
DATE: ---Tue 08 Ma

[2022-03-08 20:53] DiedB commented on #186
Could you try installing https://homey.app/nl-nl/app/it.diederik.solar/Zonnepanelen/test/ on the Homey App Store and pair using that version?

The mDNS-SD discovery should happen on the Homey itself, so I do not see any possible influence from the device used in the pairing process. I would say, monitor it for a while and let me know if any issues occur.

On supporting manual IP address entry - I

[2022-03-08 20:55] DiedB commented on #186
Oh, I found a possible explanation for your issue: https://support.enphase.com/s/article/What-does-it-mean-when-the-Envoy-displays-the-IP-address-169-254-120-1

Somehow, the Envoy does not receive a lease from your router, but mDNS seems to reach Homey. I cannot explain that yet, but this is definitely the direction where you would need to search.

[2022-03-08 20:57] DiedB commented on #187
Hi! Please install https://homey.app/nl-nl/app/it.diederik.solar/Zonnepanelen/test/ - that way you do not need the system ID anymore. The API key can be found using this guide: https://www.energyid.eu/integrations/SolarEdge. If you do not see a menu that is mentioned there, you need to ask your installer for an API key.

[2022-03-08 20:57] #187 closed

[2022-03-08 22:29] triple-it commented on #186
Ok yes.
But in this case the flow was:
- I had a working mDNS from wifi Macbook
- Delete && Add & Delete .. && Add cycle made the Zonnepanelen-envoy device still resolving to 169.254.120.1
- I manually runned and installed your app on the Homey Pro via Homey CLI, and the mDNS resolving worked there, problem solved.
- After shutting down Homey CLI, I had to reinstall the Zonnepanelen APP on the Hom

[2022-03-08 22:48] triple-it commented on #186
Ok, v5.0.22 "Experimental" is installed, and seems to work also.
If you want me to verify some things with this version pls let me know.

If manual and mDNS-SD cannot be supported both, I would go for only mDNS-SD indeed.
Why is that limitation there anyway?

[2022-03-09 08:09] reyntjensw commented on #78
Good morning,

I am working on a new driver to support the Huawei api to retrieve data.
Right now I am still retrieving the data, but I was wondering what you'd like to see in the overview?

Right now this is what I have
![image](https://user-images.githubusercontent.com/4648544/157399091-7efbe271-78a7-49f7-991a-bf5f0c129d8c.png)

What I'd like to add:
- current voltage
- current sunpower
- SOC ba

[2022-03-09 09:47] DiedB commented on #78
@reyntjensw Nice! Be sure to branch off the `sdk-v3` branch in this repo. That should also contain some examples on other types of inverter data.

However, whether I actually merge it into this app depends on how robust and user friendly an integration is. I'm bringing the amount of supported brands down a little, because I'm noticing some brands do not provide a robust way of fetching data or req

[2022-03-09 09:53] reyntjensw commented on #78
@DiedB the driver is based on sdk-v3 already, you can choose to integrate it into the current app but I can also create a new one if you want, that is up to you.

I'll create a MR when the code is stable.

[2022-03-09 12:53] DiedB commented on #186
Could be, hard to check where the issue is as it is within the Homey SDK and not this app.

You should be able to check in the mDNS traffic the Envoy is sending, but it should be around 2 minutes.

This is up to Athom, I think this should be built into the SDK instead of single apps. Athom (rightfully) wants Homey to be user-friendly so I see why they would choose for mDNS here.

If you want to de

[2022-03-09 22:48] reyntjensw commented on #78
@DiedB this is the driver that I have created  https://github.com/reyntjensw/Homey-FusionSolar
If you want you can integrate it into the app, that is up to you.

There are still some changes needed, this is what is available right now:
<img width="364" alt="image" src="https://user-images.githubusercontent.com/4648544/157551847-a32869b3-aa34-4a53-aa0e-d01729e0f060.png">
And if you have a home batt

[2022-03-10 08:11] JorgenSeemann commented on #78
Hi Wouter,

Could you share how to install this on Homey Pro?

Quite looking forward to use it to enable hot water tank header etc :) :)

Br
Jørgen

On Wed, Mar 9, 2022 at 11:49 PM Wouter Reyntjens ***@***.***>
wrote:

--
Med venlig hilsen
Jørgen

[2022-03-10 09:40] DiedB commented on #78
@reyntjensw Nice job! How user-friendly would this be? Is it still the case that you need to send Huawei an email to get credentials or an API key?

[2022-03-10 09:42] DiedB commented on #78
Install NodeJS, clone the repository he linked, run `npm install --global --no-optional homey`, then run `homey app install` in the directory you cloned towards. If this sounds like magic to you, better to wait until something is in the app store ;)

[2022-03-10 09:42] nauti23 commented on #78
ok... so i think i better wait :)

[2022-03-11 18:23] reyntjensw commented on #78
It's still the same procedure, you have to mail to get an API key.

Do you like to integrate it into your app or should I publish the app myself and have a dedicated Huawei solar app?

[2022-03-12 18:43] murreen commented on #185
That would be great.. I have the SG20RT inverter.

[2022-03-13 15:35] reyntjensw commented on #78
The independent app was submitted for review

[2022-03-14 11:47] DiedB commented on #143
If someone wants to implement this into a separate app, I am willing to help. In the current app, SAJ will likely be deprecated because there are too many different inverters and software versions, all requiring their own implementation. Will likely be confusing for users and thus lead to lots of questions.

[2022-03-14 12:13] hendrik607 commented on #143
if i can help, let me know, isnt it a option to get the data from the portal? https://fop.saj-electric.com/saj?login

[2022-03-14 15:14] afca1988 opened #188 "Can't connect Solar Panels to api SolarEdge"
I found the API key and installation ID on My Solaredge website.
used them to add them to the Solar Panels app in homey.
I get the following error returned every time:
Error: Could not find that PairSession

Don't know what else to try

[2022-03-14 15:15] DiedB commented on #188
Could you install https://homey.app/en-us/app/it.diederik.solar/Solar-Panels/test and try it with that version?

[2022-03-14 15:44] afca1988 commented on #188
Like a charm 👌🙏🏻

[2022-03-17 09:44] reyntjensw commented on #78
The app is live https://homey.app/nl-be/app/com.huawei.solar/Huawei-Solar/

[2022-03-17 10:20] JorgenSeemann commented on #78
Hmm. Seems that it's accepting openAPI credentials, but not showing any
units to add. Gives timeout after 30000ms :/

On Thu, Mar 17, 2022 at 10:44 AM Wouter Reyntjens ***@***.***>
wrote:

--
Med venlig hilsen
Jørgen

[2022-03-17 11:13] reyntjensw commented on #78
Hi @JorgenSeemann

Can you please create an issue on the Huawei-solar repo https://github.com/reyntjensw/Homey-FusionSolar?

In some cases the api account is not linked properly and you have to create a new case at Huawei.

[2022-03-17 12:40] #78 closed

[2022-03-22 19:50] hansbotzwaag opened #189 "connect Omnik"
My Omnik connect not my Homey.
The app Solarman works.
S/N: 601.......
Error: connect  ECONNREFUSED 192.168.1.154:8899

[2022-03-25 09:00] mackewigren opened #190 "Control charging of battery based on price"
Hi
I am about to invest in probably a Huawei app. In Homey I know when prices are high and low from my electrical company. Is it possible to control the inverter that when the price is low it should charge instead of having schedules in the inverter? More or less every hour tell the inverter if it is a charging hour or a discharging hour?

[2022-03-26 10:11] DiedB commented on #190
Huawei does not have a good public API to do this. I would opt for another brand (SolarEdge, Enphase, SMA) if this use case is important.

[2022-03-27 14:25] ElineSchaft commented on #68
Hi! I have the same setup. Is there a solution to connect it to Homey?

Thanks!!

[2022-04-03 15:33] Teel76 commented on #137
Also interested in support for Ferroamp in homey. Any news on this?

[2022-04-10 12:01] ErikTbk opened #191 "Omnik not connected homey"
My omnik inverter don’t works with my homey
Can you help me please.

sn: 51………

thankyou

[2022-04-10 19:27] triple-it commented on #186
Looks like shelly h&t discovery implements an "advanced settings" ip setting. Do they also use the Athom recommended md-dns discovery via the sdk? Because then both configuration paths are possible!

[2022-04-11 06:13] B3rndBu opened #192 "SUN2000-8KTL-M1"
Hi,

I saw that my inverter is not supported at the moment. When I try to connect it it gives an error. Ports not open. Are there any ports that needs to be open for the 2000L version? Maybe I can try that and it works.

Bernd

[2022-04-18 12:40] ericedberg commented on #185
SH10RT and SBR096 battery

[2022-04-18 14:05] nauti23 commented on #192
@DiedB
Heute habe ich mit einem Sun2000 MKT6l und Batterie auf einem Rapsberry in 5 Minuten EVCC.io installiert, in der Condor Auswahl des huawei, ip Adresse lan Port 502 und alles geht, die solarpanels App sagt da : Port Not Open. Vielleicht ein Hinweis mal in deren Code zu schauen? https://github.com/evcc-io/config Muss ja gehen :)

[2022-04-18 16:28] tftsolutionsnl opened #193 "Flow not starting when Enphase solar production > xxx W"
I made a flow:
If solar production >1000W
And time is later then 12:00
Then lower sunscreens

Enphase solar panel info is shown correctly in device and if I press Test, the sunscreens are lowered. But the flow doesn't work automatically.

Is this because the Enphase power production data is not real-time, but only refreshes a couple of times per hour? Or am I doing something wrong?